html{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#FFF;
	
}
body{
	background:url(../images/woodBg5.jpg);

}
img{
	border:hidden;
}
a{
	text-decoration:none;
}

a:link {color:#FFF}      /* unvisited link */
a:visited {color:#FFF}  /* visited link */
a:hover {color:#FFF} /* mouse over link */
a:active {color:#FFF}  /* selected link */ 
.showTable{
	font-size:11px;	
}
.showTableHeader{
	text-align:center;
	height:40px;
	color:#FFF;
	background:#532900;
	
}
.showTableTr{
	text-align:center;
	height:40px;
	background:#FFF;
	color:#000;
}
.showTableTr:hover{
	background:#963;
	color:#FFF;
}
input{
	font-family:Tahoma, Geneva, sans-serif;
}
.searchInput{
	height:40px;
	width:300px;
	font-size:16px;
	border:2px solid #000;
	background:#FFC;
}
.searchBox{
	float:right;
}
.showAllspan{
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	margin:5px;
}
.tdwidth{
	width:40px;
	max-width:40px;
	min-width:40px;
	height:55px;
	max-height:55px;
	min-height:55px;
}
.tdwidthBarcode{
	width:100px;
	max-width:100px;
	min-width:100px;
	height:55px;
	max-height:55px;
	min-height:55px;
}
.addTable, .editTable{
	background:#FFC;
	padding:5px;
	border:2px solid #000;
	font-size:14px;
}
.addTableHeader, .editTableHeader{
	background:#5d4227;
	height:50px;
}
.addTableTd, .editTableTd{
	background:#5d4227;
	padding:5px;
}
.addTableBut, .editTableBut, .deleteDivBut{
	border:thin solid #000;
	background:#960;
	color:#FFF;
	min-width:50px;
	min-height:30px;
	cursor:pointer;
}
.addMsg{
	font-size:16px;
	color:#090;	
}
#deleteDiv{
    width:300px;
    margin-left:-150px;
    position:absolute;
    top:-200px;
    left:50%;
    background:#FFC;
	display:none;
	border:solid 5px #532900;
	font-family:Tahoma, Geneva, sans-serif;
	overflow:auto;
	max-height:300px;
	color:#F00 !important;
}
#outerDeleteDiv{
    position:fixed;
    top:50%;
    left:0px;
    width:100%;
    height:1px;	
}
select{
	font-family:Tahoma, Geneva, sans-serif;
}
.factorTable{
	width:750px;
}