-- phpMyAdmin SQL Dump
-- version 3.2.4
-- http://www.phpmyadmin.net
--
-- Host: localhost
-- Generation Time: Aug 07, 2011 at 06:30 ﻿--
-- Database: `tavanmehr`
--
﻿CREATE DATABASE `tavanmehr` DEFAULT CHARACTER SET utf8 COLLATE utf8_persian_ci;
﻿USE `tavanmehr`;
﻿
-- --------------------------------------------------------

--
-- Table structure for table `admin`
--

CREATE TABLE IF NOT EXISTS `admin` (
  `user` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `pass` varchar(200) COLLATE utf8_persian_ci NOT NULL
) ENGINE=MyISAM DEFAULT CHARSET=utf8 COLLATE=utf8_persian_ci;
﻿
--
-- Dumping data for table `admin`
--
﻿
﻿INSERT INTO `admin` (`user`, `pass`) VALUES
('admin', '123321')﻿;
﻿
-- --------------------------------------------------------

--
-- Table structure for table `employee`
--

CREATE TABLE IF NOT EXISTS `employee` (
  `employeeId` int(20) NOT NULL,
  `name` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `family` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `father` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `birthday` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `sex` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `marital` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `education` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `course` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `melliCode` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `shenasNo` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `shenasSerial` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `shenasSodur` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `postalCode` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `birthplace` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `emloymentDate` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `address` varchar(1000) COLLATE utf8_persian_ci NOT NULL,
  `tel` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `mobile` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `bank` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `bankBranch` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `bankAccount` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `email` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `job` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `military` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `photo1` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `photoSource` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  PRIMARY KEY (`employeeId`),
  KEY `employeeId` (`employeeId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8 COLLATE=utf8_persian_ci;
﻿
--
-- Dumping data for table `employee`
--
﻿
﻿
-- --------------------------------------------------------

--
-- Table structure for table `patient`
--

CREATE TABLE IF NOT EXISTS `patient` (
  `patientId` int(20) NOT NULL,
  `patientCode` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `name` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `family` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `father` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `birthday` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `birthplace` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `melliCode` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `shenasNo` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `shenasSerial` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `shenasSodur` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `disabilityCode` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `disabilityType` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `disabilityStartDate` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `caseNumber` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `homeAdress1` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `homeAdress2` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `postalCode` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `tel1` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `tel2` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `mobile1` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `mobile2` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `photo1` varchar(200) COLLATE utf8_persian_ci NOT NULL,
  `photoSource` varchar(500) COLLATE utf8_persian_ci DEFAULT NULL,
  `behavioralStatus` longtext COLLATE utf8_persian_ci NOT NULL,
  `educationalStatus` longtext COLLATE utf8_persian_ci NOT NULL,
  `actionsTaken` longtext COLLATE utf8_persian_ci NOT NULL,
  `economicSituation` longtext COLLATE utf8_persian_ci NOT NULL,
  `statusOfHomeVisits` longtext COLLATE utf8_persian_ci NOT NULL,
  `comments1` longtext COLLATE utf8_persian_ci NOT NULL,
  `comments2` longtext COLLATE utf8_persian_ci NOT NULL,
  `comments3` longtext COLLATE utf8_persian_ci NOT NULL,
  PRIMARY KEY (`patientId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8 COLLATE=utf8_persian_ci;
﻿
--
-- Dumping data for table `patient`
--
﻿
﻿INSERT INTO `patient` (`patientId`, `patientCode`, `name`, `family`, `father`, `birthday`, `birthplace`, `melliCode`, `shenasNo`, `shenasSerial`, `shenasSodur`, `disabilityCode`, `disabilityType`, `disabilityStartDate`, `caseNumber`, `homeAdress1`, `homeAdress2`, `postalCode`, `tel1`, `tel2`, `mobile1`, `mobile2`, `photo1`, `photoSource`, `behavioralStatus`, `educationalStatus`, `actionsTaken`, `economicSituation`, `statusOfHomeVisits`, `comments1`, `comments2`, `comments3`) VALUES
(4, '4', 'حسین ', 'اسماعیلی', 'علی', '10/06/1375', 'تهران', '0480965102', '0480965102', '126477', 'تهران', '0733', 'عقب ماندگی ذهنی و جسمی بسیار شدید', 'بعد از تولد به علت سیانوزه بودن کودک ', 'الف-4', 'تهران،افسریه،شهرک والفجر،بلوکB،کوچه دوم، پلاک6.', '', '', '55276585-021', '33845638-021', '09123091474', '', '../upload/thumb4.jpg', '../upload/source4.jpg', 'کودک از نظر رفتاری مشکل خاصی ندارد ولی از نظر عاطفی تنها خانواده را کمی می شناسد و نسبت به پرسنل مرکز هیچ گونه عکس العملی نشان نمی دهد. ', 'به علت بهره هوشی بسیار پایین کودک تنها می توان در زمینه مهارات های حرکتی با وی کار کرد.', 'در زمینه راه رفتن مناسب و همچنین مهارت های گرفتن مناسب با کودک کار می شود که در راه رفتن کمی پیشرفت داشته است. ', 'توان اقتصادی خانواده در حد متوسط می باشد. ', 'منزل خانواده مددجو رهنی اجاره ای می باشد و ماهیانه 150 میلیون ریال اجاره بها توسط خانواده پرداخت می شود. ', 'خانواده بسیار خوب با مشکل کودک کنار آمده و خیلی مناسب وی را پذیرفته اند و تنها به دلیل به دنیا آمدن برادر کوچکترش و عدم توانایی مادر در نگهداری وی به مرکز سپرده شده است. ', '', '')﻿,
(5, '5', 'شهلا', ' اسد دوست', 'عبدالله', '30/05/1374', 'ساوجبلاغ', '4890263675', '4890263675', '576938', 'ساوجبلاغ', '039156', 'میکروسفالی همراه با عقب ماندگی ذهنی و جسمی بسیار شدید', 'بدو تولد', 'الف-5', 'کرج،قزل حصار،ملک آباد،خیابان فرهنگ دهقان،گلبرگ 8،سمت چپ، درب سوم.', '', '', '5267636-0262', '', '09126615653', '', '../upload/thumb5.jpg', '../upload/source5.jpg', 'مددجوعقب مانده ذهنی و جسمی بسیار شدید می باشد و از نظر رفتاری هیچ گونه مشکلی ندارد و از نظر عاطفی نیز هیچ فردی را نمی شناسد. ', 'کودک به عقب ماندگی بسیار شدید دچار می باشد و امکان آموزش برای وی امکان پذیر نیست.', 'تا به اکنون مهارت های دیداری با کودک کار می شده است که کودک به مهارت تعقیب چشمی هنوز نرسیده است. ', 'خانواده کودک از وضعیت مالی مناسبی برخوردار نمی باشند. ', 'منزل شخصی می باشد. ', 'مادر کودک به افسردگی مبتلا می باشد و نمی تواند به ملاقات کودک بیاید.', '', '')﻿,
(6, '6', 'هادی ', 'بصیری', 'علی', '23/01/1379', 'تهران', '0023150157', '0023150157', '694195', 'تهران', '003484', 'عقب مانده ذهنی و جسمی بسیار شدید', 'بدو تولد', 'ب-1', 'تهران، خیابان شهید مدنی، بالاتر از چهار راه نظام آباد، کوچه مهدیه، پلاک13، طبقه 2.', '', '', '77254223-021', '', '09122052342', '', '../upload/thumb6.jpg', '../upload/source6.jpg', 'کودک از نظر رفتاری مشکلی ندارد و تنها زمانی که دردی داشته باشد گریه می کند.', 'از نظر آموزشی نمی توان به کودک آموزشی داد زیرا میزان بهره هوشی وی بسیار پایین می باشد.', 'در زمینه شرطی سازی کودک تلاش شده ، جهت تغذیه مناسب تر ؛ اما هیج گونه پیشرفت و یا حتی تغییری صورت نگرفته است. ', 'توان اقتصادی خانواده به صورتی است که حداقل نیازهای خانواده تأمین می شود.', 'منزل خانواده اجاره ای می باشد.', 'خانواده بسیار مناسب با مشکل کودک کنار آمده و وی را پذیرا می باشند. ', '', '')﻿,
(3, '3', 'زهرا', 'امام زاده', 'حقیقت', '04/09/1373', 'پاکدشت', '6580040793', '6580040793', '715068', 'پاکدشت', '039166', 'عقب ماندگی ذهنی بسیار شدید', 'بدو تولد', 'الف-3', 'پاکدشت، خیابان شهید بهشتی، پلاک 82', '', '', '3032074-0292', '', '09122912303', '09127346911', '../upload/thumb3.jpg', '../upload/source3.jpg', 'مددجو از نظر رفتاری کمی گریه می کند و از نظر عاطفی هیچ گونه وابستگی به اطرافیان ندارد و هیچ کسی را نمی شناسد. ', 'مددجو عقب مانده ذهنی بسیار شدید می باشد و جزو کودکان آموزش پذیر و یا حتی تربیت پذیر نیز نمی باشد. ', 'تابه اکنون مهارت های حوزه دیداری با وی کار شده که به مهارت تعقیب چشمی رسیده است. در زمینه مهرت های حرکتی درشت و ظریف نیز با مددجو کار می شود.', 'خانواده از توان اقتصادی مناسبی برخوردار نیست و در برآورده کردن ضروری ترین احتیاجات خود نیز ناتوان می باشد.', 'منزل 190 متر مربع مساحت دارد که بیش از 100 متر مربع آن زیر بنای ساختمان می باشد. ', 'خانواده از شرایط روانی مناسبی برخوردار نیست و هنوز مددجو را پذیرا نمی باشند. ', 'مددجو قبل از مراجعه به مرکز توانهر در یک مرکز توانبخشی در پاکدشت به مدت یک سال و به صورت روزانه آموزش می دیده است. که البته هیچ گونه پیشرفتی حاصل نشده است.', '')﻿,
(2, '2', 'رقیه ', 'اسماعیلی', 'مسلم', '21/05/1383', 'تهران', '0200313126', '0200313126', '306230', 'تهران', '039179', 'عقب مانده ذهنی متوسط', 'بر اثر تشنج در بدو تولد', 'الف-2', 'تهران،کیانشهر،انتهای بلوار امام رضا،جنب اتوبان بعثت،پلاک 2220،طبقه سوم،واحد6', '', '', '33602461-021', '', '09127709043', '', '../upload/thumb2.jpg', '../upload/source2.jpg', 'کودک از نظر رفتاری کلیه پرسنل مرکز را به نام می شناسد و آن ها را صدا می زند.', 'از نظر آموزشی فعلا بر روی سرلوحه ها و کشیدن خطوط صاف کار می شود.', 'در زمینه کشیدن خطوط صاف و محدود پیشرفت هایی داشته اما هنوز کامل نشده است و همچنین در زمینه مفاهیم بزرگ آموزش می بیند.', 'توان اقتصادی خانواده تقریبا مناسب می باشد. ', 'خانواده در منزلی که، رهنی اجاره ای می باشد زندگی می کنند که 110میلیون ریال رهن و ماهیانه 2000000 ریال اجاره بها پرداخت می کنند.', 'پدر در پذیرفتن مشکل کودک بسیار مقاومت می کرده و تا مدت ها به ملاقات کودک نمی آمده که با انجام جلسات مشاوره ای مددکار مرکز با ایشان ، مدتی است که به ملاقات فرزند خود می آید ولی ارتباط مناسب و خوبی هنوز با کودک برقرار نکرده؛در صورتی که خود کودک در برقراری ارتباط بسیار مناسب عمل می کند.', '', '')﻿,
(1, '1', 'میلاد', 'اسکندری', 'محمدعلی', '01/05/1372', 'کرج', '0311402496', '0311402496', '282159', 'کرج', '009302', 'میکروسفالی همراه با عقب ماندگی ذهنی و جسمی بسیار شدید', 'بدو تولد', 'الف-1', 'کرج،خرمدشت،76 متری سعدی،بوستان4،پلاک 108، طبقه اول', '', '', '4809688-0261', '4806318-0261', '09126963628', '', '../upload/thumb1.jpg', '../upload/source1.jpg', 'مددجو از نظر رفتاری هیچگونه وابستگی به دیگران ندارد و تنها پرسنل مرکز را خیلی کم می شناسد.', 'مددجو عقب مانده ذهنی و جسمی بسیار شدیدی می باشد و امکان هیچگونه آموزشی برای وی مقدور نمی باشد. مددجو جزو کودکان عقب مانده حمایت پذیر می باشد. ', 'آموزش خاصی نمی توان برای مددجو در نظر گرفت.تنها می توان از نظر مهارت های حوزه دیداری با کودک کار کرد که در این زمینه اقداماتی صورت گرفته و مددجو تعقیب چشمی را آموخته است. ', '', '', 'مادر مددجو مشکل اعصاب و روان دارد. ', '', '')﻿,
(7, '7', 'هانیه ', 'بهزادی شهر بابک', 'داود', '22/05/1375', 'شهریار', '4900556467', '4900556467', '195181', 'شهریار', '003484', 'عقب مانده ذهنی بسیار شدید از نوع سندرم لش نیهان', 'ژنتیکی و از بدو تولد', 'ب-2', 'شهریار، شهرک اداری، روبروی بیمارستان تأمین اجتماعی، آژانس کوثر', 'شهریار، روستای اسکمان، روبروی دبستان شهید زهره بیگی، منزل افشار', '', '3222660-0262', '', '09123655409', '', '../upload/thumb7.jpg', '../upload/source7.jpg', 'مددجو از نظر رفتاری گاهی خود زنی دارد و بسیار هم گریه می کند که این به علت نوع سندرم وی می باشد .از نظر عاطفی نیز عکس العمل خاصی نسبت به اطرافیان خود نشان نمی دهد.', 'در زمینه مهارت های حرکتیآموزش می بیند. ', 'در زمینه مهارت های ظریف آموزش دیده و پیشرفت هم داشته اما هنوز کامل نشده است.', 'شرایط اقتصادی خانواده تا حدی مناسب می باشد.', 'منزل رهنی اجاره ای می باشد و خانواده بابت آن 60 میلیون ریال پیش پرداخت و ماهیانه 750 هزار ریال اجاره بها پرداخت می کنند. ', 'والدین زمینه بیماری های اعصاب دارند و تنش در بین آنان بسیار بالا است . ', '', '')﻿,
(8, '8', 'فاطمه', 'بهرامی نژاد', 'فریبرز', '28/09/1378', 'تهران', '0022805877', '0022805877', '662540', 'تهران', '032968', 'عقب مانده ذهنی بسیار شدید و جسمی شدید', 'مادرزادی و از بدو تولد', 'ب-3', 'کرج، خیابان  شهید بهشتی، سه راه پست خانه،مجتمع امید،بلوک14، واحد6', '', '', '4520423-0261', '', '09352455640', '', '../upload/thumb8.jpg', '../upload/source8.jpg', 'کودک زمانی که خواسته ای دارد گریه می کند و علاقه زیادی به موسیقی دارد و اگر مدت زیادی موسیقی گوش ندهد گریه می کند و خواستار گوش دادن آن می شود .', 'کودک دچار غقب ماندگی ذهنی و جسمی بسیار شدید می باشد و امکان آموزشی برای او میسر نمی باشد. ', 'تا به حال در زمینه مهارت های دیداری و توجه با کودک کار شده است که هنوز هیچ پیشرفتی نداشته است.', 'توان اقتصادی خانواده مناسب می باشد. ', 'منزل خانواده یک آپارتمان 53 متری ، یک خوابه است. ', 'کودک قبل از مراجعه به مرکز توانمهر به صورت روزانه در مرکز آفتاب و به مدت یک سال آموزش می دیده است. ', '', '')﻿,
(9, '9', 'مبینا ', 'برغمدی', 'عبدالله', '14/12/1377', 'تهران', '0021915512', '0021915512', '624922', 'تهران', '099787', 'عقب مانده ذهنی شدید', 'بدو تولد', 'ب-4', 'تهرانپارس،بلوار پروین، خیابان 162 شرقی، پلاک373،طبقه اول', '', '', '77792600-021', '', '09126469629', '', '../upload/thumb9.jpg', '../upload/source9.jpg', 'کودک از نظر رفتاری بسیار بی حوصله می باشد و گریه می کند و به هیچ چیزی علاقه نشان نمی دهد.از نظر عاطفی نیز خانواده را می شناسد. ', 'مددجو در زمینه مهارت های خودیاری آموزش دیده است و توانایی کنترل اسفنکترهای خود را دارد. به صورت مستقل نیز می تواند غذا بخورد. ', 'در زمینه مهارت های حرکتیظریف آموزش می بیند. ', 'خانواده از نظر اقتصادی از وضعیت مناسبی برخوردار می باشد. ', 'منزل خانواده رهنی اجاره ای می باشد و 100 میلیون ریال پیش پرداخت و ماهیانه مبلغ 100هزار ریال اجاره بها پرداخت می کنند. ', 'روابط عاطفی خانواده مناسب می باشد و نا مادری نیز ارتباط خوبی با کودک دارد. ', 'کودک قبلا جلسات گفتار درمانی و کادرمانی داشته است و از نظر گفتاری چند کلمه ای را ادا می کند. ', '')﻿,
(10, '10', 'زینب', 'پناهی', 'داود', '29/07/1372', 'رزن', '3980203581', '3980203581', '241273', 'رزن', '003011', 'عقب ماندگی ذهنی متوسط', 'بدو تولد بر اثر تشنج', 'پ-1', 'شهریار،شهرک امام خمینی، میلاد16، پلاک26، طبقه همکف', '', '', '3766432-0262', '', '', '', '../upload/thumb10.jpg', '../upload/source10.jpg', 'مددجو از نظر رفتاری مشکلی ندارد و از نظر عاطفی همه افراد را می شناسد و حتی نام آن ها را نیز می شناسد. ', 'مددجو در زمینه مهارت های خودیاری زآموزش دیده و در زمینه های مهرت های شناخت حیوانات، میوه ها، وسایل و... آموزش دیده است. ', 'تا اکنون مددجو به شناخت اشیا و میوه ها و حیوانات رسیده و در حال حاضر در زمینه شناخت رنگ ها و طبقه بندی آن ها آموزش می بیند.', 'خانواده از نظر مالی مشکل چندانی ندارند و در تأمین نیازهای خود توانا می باشند. ', 'مسکن متعلق به دایی مددجو می باشد و والدین هزینه ای بابت سکونت در آن پرداخت نمی کنند. ', 'والدین مددجو با هم اختلاف داشتند و پدر ، مادر را در مشکل دار شدن کودک مقصر می دانست به دلیل اختلافات زیاد ، والدین از هم جدا شدند و مادر ازدواج دوم داشته است . ', '', '')﻿,
(11, '11', 'میلاد', 'پناهی کلشن', 'وحید', '26/05/1376', 'کرج', '0311639321', '0311639321', '241275', 'کرج', '008042', 'عقب مانده ذهنی متوسط از نوع کلاین فلتر', 'در اثر عفونت در دوران درون رحمی', 'پ-2', 'کرج،قزل حصار،خط چهارم،خیابان شهید بهشتی،کوچه کریمی،پلاک114.', '', '89145-31568', '2278359-0261', '', '09355331163', '', '../upload/thumb11.jpg', '../upload/source11.jpg', 'کودک از نظر رفتاری علاقه زیادی به در رفتن و فرار دارد و به گفته مادر در منزل علاقه فراوانی به خرابکاری داشته است. از نظر عاطفی نیز کلیه پرسنل و همچنین خانواده را می شناسد و خواسته های خود را از آنان با ایما و اشاره بیان می کند. ', 'مددجو قبلاً در مرکز بهاران آموزش می دیده است و به همین دلیل از آن مرکز آموزش هایی در زمینه شناخت میوه ها و وسایل دیده است.  ', 'تا به حال در زمینه سایر میوه ها و وسایل و همچنین شناخت حیوانات آموزش دیده و پیشرفت قابل ملاحظه ای داشته است. همچنین در زمینه شناخت رنگ ها و طبقه بندی آن ها آموزش دیده است و در این زمینه نیز پیشرفت داشته است. در حال حاضر در زمینه شناخت مفاهیم ریاضی، کوچک و بزرگ و پایین و بالا آموزش می بیند. ', 'شرایط اقتصادی خانواده تاحدی متوسط می باشد. ', 'منزل مسکونی شامل 60متر مربع زمین می باشد که 45 متر مربع آن بنای ساختمان است و در منطقه ای است که در آن آسیب های اجتماعی بسیار بالا است . ', 'بیکاری پدر مددجو و همچنین بالا بودن بسیار زیاد چربی خون وی، زمینه ی اظطراب را در خانواده فراهم کرده است . ', '', '')﻿,
(12, '12', 'محمد', 'تاجیک احمد آبادی', 'علیرضا', '11/04/1375', 'شهر ری', '0410493309', '0410493309', '200409', 'شهر ری', '039161', 'عقب مانده ذهنی شدید', 'در 2 سالگی دچار تشنج شده و عقب ماندگی مبتلا شده است.', 'ت-1', 'ورامین،روستای کهنه گل،شهرک گلها،منزل رمضانعلی تاجیک.', '', '', '2257568-0291', '2254581-0291', '0936411051', '', '../upload/thumb12.jpg', '../upload/source12.jpg', 'کودک کمی اختلال رفتاری دارد و لباس ها و مامی خود را پاره می کند. از نظرعاطفی نیز مادریار و تعدادی از پرسنل مرکز را می شناسد که با رفتارهای خود به آن ها واکنش نشان می دهد. ', 'علی رغم اینکه کودک قبل از ورود به مرکز توانمهر در مرکز روزانه اندیشه در ورامین به مدت 2 سال تحت آموزش بوده اماهیچ پیشرفتی نداشته است.', 'در این مرکز بر روی مهارت های حرکتی وی کار شده که در زمینه مهارت های Fineآموزش دیده و به پیشرفت هایی نیز رسیده است اما در این حیطه هنوز به مهارت کامل نرسیده است .', '', '', 'کودک به دلیل جدا شده والدین از همدیگر و متارکه نمودن آن ها ، و عدم پذیرش وی از هر دو طرف به مرکز توانمهر ارجاع داده شده است. ', '', '')﻿,
(13, '13', 'مهشید', 'ترکاشوند', 'امیر حسن', '27/02/87', 'کرج', '0313872910', '0313872910', '521238', 'کرج', '040797', 'عقب مانده ذهنی و جسمی بسیار شدید', 'بدو تولد', 'ت-2', 'کرج، محمدشهر،بلوار بهشتی، نبش کوچه عطیمی، جنب املاک امیر ، طبقه اول.', '', '75578-31846', '6316580-0261', '6316738-0261', '09122619008', '', '../upload/thumb13.jpg', '../upload/source13.jpg', 'کودک از نظر رفتاری گریه بسیار می کند و علاقه زیادی به خوابیدن به شکم دارد. از نظر عاطفی نیز هیسچ کسی را نمی شناسد اما زمانی که با وی بازی می کنند کمی می خندد. ', 'کودک تحت آموزش مهارت های دیداری قرار گرفته است.', 'تا کنون کودک مهارت های حوزه دیداری را آموزش دیده و مهارت های این حوزه را کسب نموده است . در زمینه Sitting با کودک کار می شود . ', 'وضعیت اقتصادی بسیار مناسب است و مشکل خاصی ندارند. ', 'منزل مسکونی یک آپارتمان 70 متری ،یک خوابه است .', 'کودک قبل از ورود به مرکز توانمهر به مدت چند ماه از سروبس های کاردرمانی استفاده نموده است. ', 'کودک از ازدواج دوم پدر می باشد و به همین دلیل بعد از تولد وی ، تنش در خانواده بسیار زیاد شده و مادر کودک را نمی پذیرد. بهداشت روانی اعضای خانواده بسیار پایین می باشد. ', '')﻿,
(14, '14', 'زهرا', ' جعفری', 'قادر', '12/12/1375', 'تهران', '4900565636', '4900565636', '489291', 'تهران', '038328', 'عقب ماندگی ذهنی و جسمی بسیار شدید', 'در 20ماهگی بر اثر تشنج', 'ج-1', 'شهخریار،شهرک اسد آباد، خیابان بعثت2،پلاک10.', '', '15917-15316', '3682431-0262', '', '', '', '../upload/thumb14.jpg', '../upload/source14.jpg', 'مددجو هیچ گونه مشکلی از نظر رفتاری ندارد و کودک بسیار آرامی می باشد. فقط دست های خود بسیار می مکد. از نظر عاطفی هیچ گونه عکس العملی نسبت به اطرافیان خود ندارد. ', 'مددجو جزو کودکان عقب مانده ذهنی بسیار شدید و کودکان حمایت پذیر می باشد و نمی تواند از آموزش بهره مند شود . ', 'تا به حال در زمینه تحریک قوای بینایی با مددجو کار شده است و در این زمینه تعقیب دیداری و تمییز دیداری را آموخته است . ', 'وضعیت اقتصادی خانواده چندان مناسب نمی باشد. ', 'منزل مسکونی 80 متر مربع می باشد که 65 متر مربع آن زیر بنای منزل است. ', 'وضعیت بهداشت روانی در بین اعضای خانواده مددجو چندان مناسب نیست و مادر هنوز پذیرای کودک خود نمی باشد. ', '', '')﻿,
(15, '15', 'کیانا ', 'جلالی', 'حمید رضا', '02/07/1379', 'تهران', '0023567899', '0023567899', '927548', 'تهران', '034057', 'عقب مانده ذهنی متوسط از نوع میکروسفالی', 'بدو تولد', 'ج-2', 'کرج، 45 متری گلشهر، خیابان گلزار، کوچه گل آرا، مجتمع گیتی، طبقه اول. ', '', '43339-31379', '', '', '09353353381', '', '../upload/thumb15.jpg', '../upload/source15.jpg', 'کودک از نظر رفتاری کم یبیش فعال می باشد .از نظر عاطفی نیز هم پرسنل مرکز و هم والدین را می شناسد. ', 'کودک قبلاً در مرکز روزانه مفید به مدت یک سال تحت آموزش بوده که در این مدت در آن مرکز آموزش های فراوانی در زمینه های شناخت انواع میوه ها و وسایل و حیوانات را دیده است. ', 'در این مرکز در  زمینه مهارت های شناخت رنگ ها،طبقه بندی آن ها ، شناخت مفاهیم ریاضی بزرگ و کوچک ، بالا و پایین با کودک کار شده که در مفاهیم ریاضی قید شده پیشرفت داشته و در سایر موارد در حال آموزش می باشد. ', 'پدر مددجو بیکار است و از وضعیت اقتصادی مناسبی برخوردار نیست. ', 'منزل 50متری شامل یک سالن و یک آشپزخانه است. که مبلغ 100میلیون ریال بابت ودیعه و ماهیانه مبلغ 1400000 ریال بابت اجاره بها پرداخت می شود. ', 'پدر و مادر مددجو چند ماه قبل از پذیرش کودک در مرکز توانمهر از همدیگر جدا شده اند . ', 'پدر مددجو به علت مشکلات به وجود آمده و متارکه با همسرش دچار افسردگی شده است . ', '')﻿,
(16, '16', 'سجاد', ' چهار دولی', 'نادر', '12/11/1384', 'کرج', '0313307296', '0313307296', '863899', 'کرج', '036333', 'عقب مانده ذهنی جسمی و ذهنی بسیار شدید', 'بدو تولد', 'چ-1', 'کرج،محمد شهر،بلوار گلستانک،خیابان ولیعصر،انصار6،فرعی سوم، درب اول.', '', '53849-31846', '6317362-0261', '6317853-0261', '09122788705', '', '../upload/thumb16.jpg', '../upload/source16.jpg', 'کودک از نظر رفتاری مشکلی ندارد. از نظر عاطفی نیز به اطرافیانی که با وی بازی کنند لبخند می زند. ', 'کودک جز افراد عقب مانده ذهنی و جسمی بسیار شدید می باشد و حمایت پذیر است. به همین دلیل نمی توان آموزشی برای وی در نظر گرفت. ', 'تا به اکنون در زمینه مهارت های حوزه دیداری با کودک کار شده است و در حال حاضر در زمینه مهارت های Sitting با کودک کار می شود. ', 'خانواده از وضعیت اقتصادی مناسبی برخوردار نیست. ', 'منزل والدین شخصی می باشد. ', 'بهداشت روانی والدین و خانواده پایین می باشد ولی خانواده در پذیرش وی مشکلی ندارند اما در نگهداری وی با توجه به آمدن کودک جدید دچار مشکل هستند. ', 'پدر مددجو دچار ناراحتی قلبی می باشد. ', '')﻿,
(17, '17', 'فاطمه سادات', 'حسینی', 'سید علی', '13/05/1373', 'شهر ری', '6640023539', '66400شهر ری23539', '654323', 'شهر ری', '039162', 'عقب مادن ذهنی بسیار شدید و جسمی متوسط', 'بدو تولد بر اثر سوء تغذیه', 'ح-1', 'تهران، شهر ری،جاده ورامین، قلعه نو،خیابان شهید مصطفی جعفر طالب آبادی، بن بست سوم، پلاک 1.پلاک قدیم 101', '', '', '', '', '09195260867', '', '../upload/thumb17.jpg', '../upload/source17.jpg', 'کودک از نظر رفتاری اختلال خاصی ندارد و مدام کلمات تکراری ای را ادا می کند. از نظر عاطفی نیز خیلی کم افراد را می شناسد و مادر خویش را نیز نمی شناسد. ', 'مددجو جزو افراد عقب مانده ذهنی بسیار شدید و حمایت پذیر می باشد و آموزش پذیر نیست. ', 'تا کنون در زمینه مهارت های حرکتی Fine و Gross با مددجو کار شده که در زمینه walking کمی پیشرفت داشته است. در زمینه fINE نیز به میزان بسیار کمی پیشرفت داشته است.   ', 'تقریبا مناسب است و توانایی رفع مشکلات خود را دارند. ', 'منزل متعلق به مادر بزرگ مادری مددجو می باشد  که والدین در آن سکونت دارند.  ', 'مشکلات بسیاری در بین والدین وجود دارد و به همبن دلیل مادر به دیدن مددجو می آید و پدر هنوز به عیادت کودک نیامده است. ', '', '')﻿,
(18, '18', 'لیلا', ' حمزه پور', 'وهاب', '28/10/1372', 'مراغه', '1540290751', '1540290751', '204495', 'مراغه', '202040039182', 'عقب مانده ذهنی بسیار شدید و عقب مانده جسمی شدید', 'بدو تولد', 'ح-2', 'ورامین، پاکدشت،قومه،خیابان شهید خان محمدی، کوچه حمزه، روبروی کانال، پلاک9.', '', '', '3021615-0292', '', '', '', '../upload/thumb18.JPG', '../upload/source18.JPG', 'مددجو مشکل رفتاری خاصی ندارد و بسیار آرام می باشد. از نظر عاطفی نیز به اطرافیان خود لبخند می زند. ', 'امکان آموزش برای مددجو وجود ندارد. به این دلیل که مددجو جزو افراد عقب مانده ذهنی جمتیت پذیر است. ', 'تا به حال در زمینه های حرکتی با کودک کار شده است و در مهارت های ظریف پیشرفت داشته است. ', 'وضعیت اقتصادی خانواده بسیار پایین می باشد. ', 'منزل والدین ارثیه پدری می باشد.', 'خانواده از وضعیت بهداشت روانی مناسبی برخوردار نیست و به دلیل حضور برادر معلول ذهنی و جسمی مددجو در منزل، خانواده قادر به نگهداری از کودک نمی باشد.  ', '', '')﻿,
(19, '19', 'سید مصطفی', 'حسینی', 'سید جواد', '17/11/1369', 'زنجان', '4270353309', '1601', '859296', 'زنجان', '039167', 'عقب مانده ذهنی بسیار شدید و جسمی شدید', 'بدو تولد بر اثر تشنج', 'ح-3', 'کرج،حسین آباد، گلستان2،پلاک26', 'کرچ،حسین آباد، اکبر آباد، شهرک شهید بهشتی، خیابان شهید نعمتی، کوچه خیر آبادی، پلاک 22', '63595-31868', '3407484-0261', '3300268-0261', '', '', '../upload/thumb19.jpg', '../upload/source19.jpg', 'از نظر رفتاری مشکلی ندارد. از نظر عاطفی مادر را بسیار مناسب می شناسد و وقتی وی را می بیند عکس العمل نشان می دهد. ', 'در زمینه مهارت های حرکتی با کودک کار می شود .', 'در زمینه مهارت های حرکتی ظریف با کودک کار می شود که در این زمینه بسیار کم آموزش دیده است . ', 'خانواده از نظر اقتصادی شرایط مناسبی ندارند. ', 'منزل مسکونی شخصی و شامل 60متر مربع مساحت می باشد که 50 متر مربع آن زیر بنای منزل می باشد. ', 'سطح معلومات خانوالده بسیار پایی است و به همین دلیل از بهداشت روانی پایینی برخوردارند. ', '', '')﻿,
(20, '20', 'ستاره ', 'حیدری', 'احمد ', '17/08/1380', 'شهریار', '4900977721', '4900977721', '662512', 'شهریار', '011881', 'عقب مانده ذهنی و جسمی بسیار شدید', 'بدو تولد ', 'ح-4', 'کرج، شهرک وحدت،خیبان هشتم غربی،گذر دوم ، دست چپ، پلاک48', '', '68286-31658', '', '', '09364171500', '09366980132', '../upload/thumb20.jpg', '../upload/source20.jpg', 'کودک از نظر رفتاری مشکلی ندارد و هیچگونه شناختی نسبت به پیرامون خود ندارد. ', 'کودک امکان هیچ گونه آموزشی ندارد و جزو افراد عقب مانده ذهنی حمایت پذیر است . ', 'تا به حال در زمینه مهارت های حوزه دیداری با کودک کار شده است. در این حوزه به مهارت رسیده است . ', 'خانواده از شرایط اقتصادی مناسبی برخوردار نیستند و از نظر مالی در فشار بسیار به سر می برند. ', 'منزل مسکونی رهنی اجاره ای می باشد و شامل 60 متر مربع مساحت با حداقل امکانات است. ', 'والدین پذیرای کودک هستند اما به علت مشکلات مسکن و مشکلات اقتصادی توان نگهداری از کودک را ندارند.  ', '', '')﻿,
(21, '21', 'شیما سادات', 'حسینی', 'سید کوچک', '23/12/1371', 'کنگاور', '3300118794', '3300118794', '126163', 'کنگاور', '039167', 'عقب مانده ذهنی و جسمی بسیار شدید ', 'بدو تولد', 'ح-5', 'کرج، قلعه حسن خان، خیابان قدس، کوچه بشارت، پلاک209، حسینیه کرمانشاهی ها.', '', '', '', '', '', '', '../upload/thumb21.jpg', '../upload/source21.jpg', 'مددجو از نظر رفتاری مشکلی ندارد و تنها هنگام غذا خوردن اگ ردیر شود گریه می کند و جیغ می زند. ', 'از نظر آموزشی نمی توان به مددجو آموزشی داد زیرا حمایت پذیر می باشد . ', 'تا به حال در زمینه مهارت های حوزه دیداری با کودک کار شده است که به همه مهارت ها غیر از تمیز دیداری رسیده است . ', 'خانواده از وضعیت بسیار پایین اقتصادی در رنج هستند. ', 'منزل والدین در حسینیه می باشد. ', '', '', '')﻿,
(22, '22', 'غزل ', 'حسنی تبار', 'امجد', '08/02/1384', 'کرمانشاه', '3310330753', '3310330753', '739084', 'کرمانشاه', '032549', 'عقب مانده ذهنی و جسمی بسیار شدید', 'بدو تولد', 'ح-6', 'کرج، شاهین ویلا، خیابان 22 بهمن شمال، کلانتری118', 'کرج، شاهین ویلا بنیاد، 35 متری کوچه شهید شیری، پلاک 46، ساختمان پارسیان، واحد 7', '43767-76517', '4506977-0261', '', '09366605894', '', '../upload/thumb22.jpg', '../upload/source22.jpg', 'کودک هیچ گونه مشکل رفتاری ندارد و از نظر عاطفی نیز به هیچ کسی واکنش نشان نمی دهد. ', 'از نظر آموزشی نمی توان با کودک کار شود زیرا کودک حمایت پذیر است.', 'تا کنون در زمینه مهخارت های حوزه دیداری با کودک کار شده و توجه و تمرکز که کودک آن ها را نیاموخته و هیچ پیشرفتی نداشته است. ', 'از نظر اقتصادی تقریبا مناسب هستند. ', 'منزل والدین مددجو اجاره ای می باشد و ماهیانه 1000000میلیون ریال اجاره بها پرداخت می کنند. ', '', '', '')﻿,
(23, '23', 'مبینا ', 'حمزه', 'عیوضعلی', '17/12/1382', 'تهران', '0150578083', '0150578083', '635272', 'تهران', '096065', 'عقب مانده ذهنی شدید و اوتیسم', 'در یک سالگی بر اثر تشنج', 'ح-7', 'تهران، سرسبیل، نرسیده به خیابات آذربایجان، کوچه اقبال، پلاک34', '', '63744-71386', '66831430-021', '', '09125757579', '', '../upload/thumb23.jpg', '../upload/source23.jpg', 'کودک از نظر رفتاری بسیار تکانشی می باشد و ارتباط چشمی برقرار نمی کند و کارهای تکراری انجام می دهد. از نظر عاطفی نیز بسیار ترسو می باشد و نسبت به نزدیک شدن افراد دیگر به وی حالت ترس و عقب رفتن از خود نشان می دهد. ', 'از نظر آموزشی در زمینه مهارت های حرکتی fine آموزش دیده است . ', 'در زمینه یاد شده تقریبا به مهارت رسیده است و در حال حاضر در زمینه مهارت  شناخت جای اشکال در پازل آموزش می بیند. ', 'خانواده از نظر اقتصادی شرایط مناسبی دارند و قادر به تأمین نیازهای خود می باشند. ', 'منزل والدین رهنی اجاره ای می باشد و مبلغ 100000000میلیون ریال بابت ودیعه مسکن و ماهیانه مبلغ 3000000میلیون ریال بابت اجاره بها پرداخت می کنند. ', 'شرایط بهداشت روانی خانواده مناسب است. ', '', '')﻿,
(24, '24', 'علی اصغر ', 'خسروجردی', 'امیر هوشنگ', '13/02/1375', 'تهران', '0018976761', '0018976761', '304179', 'تهران', '055335', 'عقب مانده ذهنی و جسمی بسیار شدید', 'بدو تولد', 'خ-1', 'تهران، خیابان کمیل، نرسیده به پادگان جی، پلاک 860', 'تهران، نسیم شهر، 12 متری سوم، کوچه عزتی، پلاک 146', '', '', '', '', '', '../upload/thumb24.jpg', '../upload/source24.jpg', 'کودک از نظر رفتاری مشکلی ندارد و از نظر عاطفی نیز تنها به افراد دیگری که با وی ارتباط برقرار کنند لبخند می زند. ', 'از نظر آموزشی مددجو جزو افراد عقب مانده ذهنی حمایت پذیر می باشد و آموزش پذیر نیست. ', 'تا به اکنون در زمینه مهارت های حوزه دیداری با کودک کار شده است که به علت استرابیسم وی قادر به رسیدن به همه مهارت های این حوزه را ندارد . البته تغقیب چشمی هنوز به وجود نیامده است . ', 'خانواده از نظر اقتصادی شرایط چندان مناسبی ندارند و تنها قادر به برآوردن حداقل نیازهای اولیه خود می باشند. ', 'منزل اجاره ای می باشد و ماهیانه حدود 2000000میلیون ریال اجاره پرداخت می شود. ', 'خانواده شرایط مناسبی ندارند و قادر به نگهداری مددجو نیستند. ', '', '')﻿,
(25, '25', 'مبینا', 'دشتکی', 'فرشید', '31/06/1382', 'ماه شهر', '1940836751', '1940836751', '520975', 'ماه شهر', '041385', 'عقب مانده ذهنی متوسط همراه با اوتیسم و بیش فعالی ', 'قبل از تولد و ژنتیکی', 'د-1', 'کرج، محمد شهر، خیابان چمران اول، خیابان مطهری، کوچه نور، پلاک 7', '', '15793-63516', '5133-0652255', '', '09161501158', '', '../upload/thumb25.jpg', '../upload/source25.jpg', 'از نظر رفتار یبیش فعال می باشد و کارهای تکراری و کلیشه ای بسیار دارد که در حال درمان می باشد. ', 'از نظر آموزشی مبینا حدود یک سال است که به صورت روزانه به مرکز گلبرگ واقع در حسین آباد مهر می رود و وسایل را تا حد بسیار کمی آموخته است.  ', 'در زمینه شناخت میوه ها با کودک کار شده که تعداد بسیار کمی از آن ها را آموخته است. ', 'خانواده از وضعیت اقتصادی مناسبی برخوردار است. ', 'منزل رهنی اجاره ای می باشد و 20000000میلیون ریال بابت ودیعه مسکن و ماخیانه 2500000هزار ریال اجاره بها پرداخت می کنند. ', 'مادر مددجو افسردگی دارد. ', '', '')﻿,
(26, '26', 'فاطمه السادات ', 'حسینی', 'سید حمید', '02/01/1372', 'تهران', '0015539571', '0015539571', '769024', 'تهران', '039163', 'عقب مانده ذهنی و جسمی شدید از نوع  کرنیکتروس', 'قبل از تولد به علت ناسازگاری RH', 'د-2', 'تهران، میدان خراسان ،اول خیابان طیب،کوچه شهید صدوق،پلاک 8', '', '94951-17937', '33723019-021', '', '', '', '../upload/thumb26.JPG', '../upload/source26.JPG', 'از نظر رفتاری مددجو بسیار زیاد صحبت می کند و مدام تقاضای آهنگ می کند . از نظر عاطفی نیز به پدر بسیار علاقه مند می باشد و مدام اسم پدر را تکرار می کند. ', 'از نظر آموزشی تا به حال تعداد کمی از اشیا را آموخته است زیرا مددجو تنها چیزهای عینی را می آموزد و از روی کارت و یا .. قادر به آموزش نیست. ', 'اشیا کمی را آموخته است و در حال آموزش رنگ ها می باشد. ', 'از نظر اقتصادی حداقل نیازهای خانواده تأمین می شود. ', 'منزل 120 متر مربع مساحت دارد .', '', '', '')﻿,
(27, '27', 'ابراهیم ', 'رحمیان ', 'مراد', '18/07/1375', 'اسلام شهر', '6660119779', '6660119779', '796531', 'اسلام شهر', '035037', 'عقب مانده ذهنی شدید', 'بدو تولد', 'ر-4', 'جاده ساوه، قلعه میر،کوچه بهشت8،بلوک3.', '', '', '', '', '09364166529', '09192014209', '../upload/thumb27.JPG', '../upload/source27.JPG', 'از نظر رفتاری علاقه زیادی به خرابکاری دارد و همیشه برخلاف آن چه که دیگران از وی می خواهند رفتار می کند تا دیگران را عصبانی کند. کلیه پرسنل را نیز می شناسد و از نظر رفتاری این امر را نشان می دهد. ', 'در زمینه شناخت اشیا و وسایل و در زمینه مهارت های حرکتی ظریف با وی کار می شود.', 'در حوزه شناختی هیچ پیشرفتی نداشته اما در مهارت حرکتی تا حدی پیشرفت داشته است. ', '', 'منزل خانواده رهنی اجاره ای می باشد و مبلغ 110000000میلیون ریال بابت ودیعه مسکن و ماهیانه 200000هزار ریال بابت اجاره بهای ماهیانه پرداخت می کنند . ', 'معلولیت کودک تأثیرات روانی بدی بر مادر داشته است. ', '', '')﻿,
(28, '28', 'فرید ', 'رئوفی', 'بهرام', '18/05/1377', 'کرج', '0311822037', '0311822037', '407746', 'کرج', '031464', 'عقب مانده ذهنی بسیار شدید ', 'قبل از تولد', 'ر-5', 'کرج، فردیس،خیابان 37غربی،کوچه 8 متری شقایق، پلاک 38', '', '36839-31615', '6548286-021', '', '09192671599', '', '../upload/thumb28.jpg', '../upload/source28.jpg', 'مددجو از نظر رفتاری زیاد جیغ می کشد و هر چیزی را که به داده می شود به دهان می برد. از نظر عاطفی نیز وابستگی ای به کسی ندارد و مادر خود را نیز نمی شناسد. ', 'از نظر آموزشی در زمینه مهارت های حرکتی آموزش دیده است. ', 'در زمینه مهارت های حرکتی ظریف و درشت آموزش دیده و در ظریف خیلی کم پیشرفت داشته است. ', '', 'منزل خانواده متعلق به خیری می باشد که 30000000میلیون ریال بابت ودیعه مسکن و ماهیانه مبلغ 1000000میلیون ریال اجاره بها پرداخت می کنند. ', '', '', '')﻿,
(29, '29', 'مبینا', 'رضایی کوشان', 'علی', '24/03/13', 'شهریار', '4901266292', '4901266292', '958974', 'شهریار', '0080844', 'عقب مانده ذهنی شدید و جسمی متوسط', 'قبل از تولد', 'ر-6', 'شهریار،عباس آباد، خیابان مطهری، کوچه تارا بابایی، کوچه هامون، پلاک 11.', 'شهریار،برد آباد،خیابان فلسطین، کوچه کمیل 2، پللاک2', '94711-33516', '3245381-0262', '3643632-0261', '09359513821', '', '../upload/thumb29.jpg', '../upload/source29.jpg', 'کودک از نظر رفتاری در بعضی مواقع بسیار بی دلیل گریه می کند و از نظر عاطفی نیز افراد کلینیک را می شناسد و حتی به بعضی نیز وابستگی دارد. ', 'کودک آموزشی تا به حال ندیده است. ', 'در زمینه شناخت حالات خنده و گریه و ناراحتی و .... با کودک کار شده که هنوز هیچ نظری نمی توان داد. ', '', '', 'والدین کودک از هم جدا شده اند . ', '', '')﻿,
(30, '30', 'زهرا ', 'رحیم زاده', 'طیب', '12/04/1372', 'ساوجبلاغ', '4890177744', '4890177744', '637809', 'ساوجبلاغ', '002524', 'عقب مانده ذهنی بسیار شدید و از نوع سندروم هورلر', 'قبل از تولد و به صورت مادرزادی', 'ر-3', 'ساوجبلاغ، نظر آباد،خیابان سید جمال الدین، خیابان انقلاب شمالی، پلاک 275', '', '83366-33318', '5325529-0262', '', '', '', '../upload/thumb30.jpg', '../upload/source30.jpg', 'از نظر رفتاری هر چیزی ر ا سعی می کند به دست آورد و خیلی سریع آن را به دهان می برد و می جود. از نظر عاطفی نیز هیچ فردی را نمی شناسد.', 'به علت بهره هوشی بسیار پایین مددجو، نمی توان آموزشی را برای وی در نظر گرفت.', 'در زمینه مهارت های دیداری با مددجو کار شده که به همه مهارت های این حوزه رسیده است. ', 'وضعیت اقتصادی خانواده خوب است و قادر تأمین نیازهای اولیه خویش می باشند. ', 'منزل شخصی است.', 'خانواده کاملاً قرزند معلول خود را پذیرا می باشند. ', '', '')﻿,
(31, '31', 'سحر', ' زرینی', 'علی مبارک', '05/08/1371', 'ملایر', '3920336038', '3920336038', '431002', 'ملایر', '002534', 'عقب مانده ذهنی بسیار شدید و جسمی شدید', 'قبل از تولد', 'ز-1', 'حیدر آباد، خیابان آزادی، کوچه بنی نجار، کوچه بنفشه1', '', '98373-31497', '4561406-0261', '', '09126652614', '', '../upload/thumb31.jpg', '../upload/source31.jpg', 'مددجو از نظر رفتاری هیچ گونه اختلال رفتاری ای ندارد و از نظر عاطفی نیز هیچ عکس العملی نسبت به دیگر افراد نشان نمی دهد. ', 'مددجو آموزش پذیر نمی باشد و امکان آموزش برای وی امکان پذیر نمی باشد. ', 'تا به اکنون در زمینه مهارت های حوزه دیداری با مددجو کار شده که به همه مهارت های این حوزه رسیده است و سعی در بالا بردن توجه و تمرکز نیز شده است. ', 'از نظر اقتصادی حداقل نیازهای خانواده تأمین می شود. ', '', 'جهت روابط مستحکم تر در بین والدین و خانواده کتاب آقای دکتر به پژوه توسط جناب آقای روغنی ، مددکار محترم مرکز پیشنهاد گردید. ', '', '')﻿,
(32, '32', 'مریم ', 'زنگنه', 'احمد علی', '28/01/1380', 'ملایر', '3920840755', '3920840755', '730768', 'ملایر', '039178', 'عقب مانده ذهنی و جسمی بسیار شدید', 'قبل از تولد', 'ز-2', 'تهران، خزانه بخارایی، خیابان عباسی جنوبی،10متری ششم شرقی، پلاک 27', '', '', '', '09126602045', '09124464722', '09124129130', '../upload/thumb32.jpg', '../upload/source32.jpg', 'از نظر رفتاری کودک هیچ مشکلی ندارد. از نظر عاطفی نیز کلیه افراد را می شناسد و شادی و غم را درک می کند. ', 'تا کنون مددجو اعضای صورت را کاملاً آموخته است ', 'در حال حاضر در زمینه هماهنگی و تطبیق یک تصویر با یک حرکت صورت آموزش می بیند. ', 'خانواده از وضعیت اقتصادی مناسبی برخوردار نیست. ', 'منزل شخصی است. ', '', '', '')﻿,
(33, '33', 'معصومه ', 'زین الدینی ', 'رحمت الله ', '09/12/1377', 'شهر ری', '0480934959', '0480934959', '664294', 'شهر ری', '039177', 'عقب مانده ذهنی بسیار شدید', 'قبل از تولد', 'ز-3', 'ماما زند، پارچین، روستای چنگی، خیابان امام، پلاک 181', '', '', '3090467-0292', '', '09127919846', '', '../upload/thumb33.jpg', '../upload/source33.jpg', 'مددجو از نظر رفتاری بسیار پرخاشگر و تکانشگر می باشد. بسیار به زدن دیگران علی الخصوص کودکان دیگر مرکز علاقه دارد و اگر چیزی از دستش به زور گرفته شود،فرد مزبور را کتک می زند. علاقه زیادی نیز به پرتاب کردن اشیاء و آب دهان خود به طرف افراد دیگر دارد. ', 'به دلیل مشکلات بسیار زیاد کودک نمی توان آموزشی به کودک داد.', '', '', '', '', '', '')﻿;
﻿INSERT INTO `patient` (`patientId`, `patientCode`, `name`, `family`, `father`, `birthday`, `birthplace`, `melliCode`, `shenasNo`, `shenasSerial`, `shenasSodur`, `disabilityCode`, `disabilityType`, `disabilityStartDate`, `caseNumber`, `homeAdress1`, `homeAdress2`, `postalCode`, `tel1`, `tel2`, `mobile1`, `mobile2`, `photo1`, `photoSource`, `behavioralStatus`, `educationalStatus`, `actionsTaken`, `economicSituation`, `statusOfHomeVisits`, `comments1`, `comments2`, `comments3`) VALUES
(34, '34', 'مجید', 'محمد سلطانی ورنوسفادرانی', 'محمود', '27/02/1373', 'تهران', '0480596573', '0480596573', '383878', 'تهران', '052347', 'عقب مانده ذهنی متوسط', 'قبل از تولد و ژنتیکی', 'س-1', 'تهران ،جاده خاوران،خاور شهر، فاز 1، خیابان محسن چگینی، کوچه 3، پلاک8', '', '', '2472707-021', '', '09124581106', '', '../upload/thumb34.jpg', '../upload/source34.jpg', 'مددجو از نظر رفتاری مشکلی ندارد. از نظر عاطفی نیز افراد را با ایما و اشاره کردن می شناسد. ', 'مددجو تا به حال در زمینه مهارت های حرکتی ظریف آموزش و مهارت های شناختی، شناخت میوه ها آموزش دیده است.  ', 'در زمینه مهارت های حرکتی ظریف پیشرفت کرده و می تواند به طور مناسب قاشق را به دست بگیرد و خود غذای خود را بخورد اما به علت استرابیسم بسیار بالایی که دارد نمی تواند درست و تمیز غذا بخورد. در زمینه شناخت میوه ها نیز تعداد بسیاری از آن ها را آموخته و تعداد کمی از آن ها نیز باقی مانده است .', 'وضعیت اقتصادی مناسب است. ', 'منزل شخصی متعلق به پدربزرگ و 300متر مربع مساحت دارد که حدود 160متر مربع زیر بنا دارد. ', 'پدر و مادر مددجو هر دو از لحاظ ذهنی مشکل دارند و از هم جدا شده اند. پدر مددجو با ازدواج دوم دارد و از ازدواج دومش یک دختر دارد و در آپارتمانی که متعلق به پدربزرگ مددجو می باشد سکونت دارند. ', '', '')﻿,
(35, '35', 'ریحانه السادات ', 'سید مرتضی', 'سید کمال ', '16/07/1373', 'کرج', '0311134726', '0311134726', '119543', 'کرج', '038329', 'عقب مانده ذهنی و جسمی بسیار شدید', 'قبل از تولد ', 'س-2', 'کرج، مهر شهر، کیانمهر، شهرک نور، نیلوفر 3، واحد3.', '', '48736-31977', '3311150-0261', '3311151-0261', '3327744-0261', '3327755-0261', '../upload/thumb35.JPG', '../upload/source35.JPG', 'کودک ازنظر رفتاری هیچ گونه مشکلی ندارد. از نظر عاطفی نیز به هیچ کسی واکنش نشان نمی دهد. ', 'به دلیل عقب ماندگی بسیار شدید کودک و بهره هوشی بسیار پایین وی امکان آموزش برای او امکان پذیر نیست. ', 'تا کنون در زمینه مهارت های حوزه دیداری و توجه و تمرکز با کودک کار شده است که به هیچ یک از مهارت های ذکر شده دست نیافته است. ', 'وضعیت اقتصادی به نحوی است که در حد متوسط نیازهای خانواده تأمین می شود. ', 'منزل شخصی است. ', '', '', '')﻿,
(36, '36', 'مهناز', 'سهرابی', 'حسین', '09/01/1372', 'قزوین', '5590032210', '5590032210', '415511', 'قزوین', '', 'عقب مانده ذهنی و جسمی بسیار شدید', 'قبل از تولد', 'س-3', 'نرسیده به شهریار، شهرک خادم، درب دوم ، پلاک123، طبقه زیر زمین', '', '', '', '', '', '', '../upload/thumb36.jpg', '../upload/source36.jpg', 'مددجو از نظر رفتاری اختلالی ندارد و مشکلی ندارد. از نظر عاطفی تنها زمانی که عکس العمل مستقیمی از طرف کسی به وی می شود و یا راه برده می شود، می خندد و احساس شادمانی از خود نشان می دهد. ', 'مددجو مهارت کنترل اسفنکتری را آموخته است و هم اکنون قادر به کنترل خود می باشد و زمانیکه احتیاج به توالت داشته باشد، شلوارش را در می آورد و با این عمل مادریار خود را مطلع می سازد.', 'در زمینه ی یاد شده کوشش به عمل آمده و مددجو آموزش هایی دیده است و به مهارت نیز رسیده است. در زمینه مهارت های حوزه دیداری نیز به دمددجو آموزش هایی داده شد و در این زمینه نیز تا حدی که امکانش بود، پیشرفت داشته است زیرا وی مبتلا به نیستاگموس می باشد و توانایی تمرکز زیاد و منسجم را ندارد. در زمینه مهارت های حرکتی نیز روزانه دو مرتبه در محیط کلینیک راه برده می شود که به علت مهارت بسیار کم مددجو در راه رفتن،بیش از این نمی توان در این زمینه فعالیتی داشت. ', 'طبق بررسی های مددکار محترم مرکز از وضعیت خانوادگی مددجو مشخص شد که خانواده وی از وضعیت اقتصادی و اجتماعی بسیار نامناسبی برخوردار می باشند. ', 'مسسکن خانواده مددجو رهنی اجاره ای می باشد که خانواده مبلغ 1000000میلیون ريال بابت ودیعه مسکن و ماهیانه مبلغ 250000هزار ريال بابت اجاره بها پرداخت می کنند. ', 'به علت معلولیت مددجو خانواده دچار سرخوردگی و ناراحتی بسیار زیاد شده و علاقه چندانی به دیدن وی ندارند و به همین دلیل وی را نمی پذیرند. ', '', '')﻿,
(37, '37', 'مبین', 'سلطانی', 'ابوالقاسم', '05/09/1382', 'کرج', '0025546619', '0025546619', '183344', 'کرج', '035163', 'عقب مانده ذهنی و جسمی بسیار شدید', 'بدو تولد', 'س-4', 'کرج،میانجاده، خیابان ابوذر، کوی سجاد، بن بست سوم، درب پنجم غربی', '', '13141-31466', '', '', '09355071566', '09355071556', '../upload/thumb37.jpg', '../upload/source37.jpg', 'کودک از نظر رفتاری هیچ گونه مشکلی ندارد و از نظر عاطفی نیز به کسی وابستگی ندارد و هیچ کسی را نمی شناسد.', 'کودک در قبال هیچ محرکی واکنشی از خود نشان نمی دهد و تنها در مقابل محرک های سخت حسی کمی بدن و شکم خود را تکان می دهد. ', 'در زمینه کلیه حس ها آموزش هایی صورت گرفت اما تغییر و یا پیشرفتی در کودک مشاهده نشد. ', 'شرایط اقتصادی خانواده تقریباً مناسب است و مشکلی در تأمین احتیاجات خود ندارند. ', 'منزل در طبقه اول منزل والدین واقع است که شامل 50 متر مربع زمین و 35 متر مربع زیر بنا می باشد. ', 'خانواده از نظر بهداشت روانی مشکلی ندارند و به دلیل مشکل کمردرد مادر و نگهداری ایشان و همچنین داشتن فرزند دوم، خانواده قادر به نگهداری وی نمی باشند. ', '', '')﻿,
(38, '38', 'حسین', 'سعیدی', 'مسعود', '09/03/1375', 'دماوند', '0430118831', '0430118831', '551336', 'دماوند', '039165', 'عقب مانده ذهنی شدید و جسمی خفیف', 'بدو تولد ', 'س-6', 'رودهن،مهرآباد،روبروی مسجد،کوچه حمام،منزل موسی سعیدی', '', '', '5759869-0221', '', '', '', '../upload/thumb38.jpg', '../upload/source38.jpg', 'مددجو از نظر رفتاری تنها هنگامیکه غذایی بخواهدو در زمان ناهار خوردن که باید اولین نفر باشد برای غذا خوردن، گریه بسیار می کند و بسیار جیغ می کشد و در بقیه موارد خوب است. از نظر عاطفی نیز همه پرسنل را می شناسد و با رفتار خود عکس العمل متفاوتی در مقابل هر فردی از خود نشان می دهد. ', 'در زمینه مهارت های حرکتی درشت و ظریف با کودک کار شده است. ', 'در زمینه مهارت های حرکتی درشت پیشرفت بسیار داشته و تا به حال در راه رفتن مناسب و در بالا و پایین آمدن از پله به صورت درست و مناسب خیلی بهتر شده است. در زمینه اختلال رفتاری جیغ و گریه بسیار در هنگام غذا خوردن نیز با مددجو بسیار کار شده که دیگر هنگام غذا خوردن گریه نکند و جیغ نکشد که این مهارت در حال تکامل است. در زمینه مهارت های حرکتی ظریف نیز مشکلات بسیار دارد که علی رغم جلسات آموزشی بسیار زیاد، هنوز به تکامل نرسیده است.در زمینه مهارت هماهنگی چشم و دست نیز پیشرفت داشته است. ', 'وضعیت اقتصادی خانواده چندان مناسب نیست. ', 'مسکن متعلق به پدر و مادر پدری مددجو می باشد که والدین مددجو به صورت موقت درآن ساکن هستند.', 'پدر مددجو بیمار می باشد و مسئولیت نگهداری فرزندان دیگر تقریباً بر عهده مادر می باشد و به علت بیماری پدر وضعیت مناسبی در روابط خانواده وجود ندارد.  ', '', '')﻿,
(39, '39', 'حسین', 'محمد سلطانی', 'محمود', '24/11/1376', 'تهران', '0480852332', '0480852332', '623376', 'تهران', '034580', 'عقب مانده ذهنی شدید', 'بدو تولد', 'س-7', 'تهران، جاده خاوران،خیابان خاوران،خاورشهر،فاز1،خیابان محسن چگینی،کوچه سوم،پلاک8', '', '', '2472707-0221', '', '09124581106', '', '../upload/thumb39.jpg', '../upload/source39.jpg', 'مددجو از نظر رفتاری بسیار بیش فعال می باشد و خیلی زیاد اطرافیانش را اذیت می کند.از نظر عاطفی همه را می شناسد و خانواده را نیز می شناسد. ', 'مددجو به علت بیش فعالی بسیار زیاد و عدم توجه و تمرکز بر روی یک موضوع نمی تواند یک فعالیت را درست انجام دهد و در زمینه مهارت های حرکتی Fine با وی کار می شود. ', 'ئر زمینه مهارت های حرکتی با مددجو کار می شود و هنوز نمی توان در زمینه پیشرفت وی سخن گفت. ', 'وضعیت اقتصادی خانواده مددجو بسیار مناسب است. ', 'پدربزرگ مددجو مسئولیت نگهداری مددجو و برادرش را دارد. منزل پدربزرگ،300 متر مربع مساحت دارد که 200 متر آن زیر بنای ساختمان می باشد. ', 'پدر و مادر مددجو هر دو از نظر ذهنی مشکل دارند و به دلیل مشاجرات بسیار زیاد به علت مغلولیت ذهنی هر دو فرزند، از هم جدا شده اند. ', 'پدر مددجو ازدواج دوم داشته و از همسر دوم خود یک دختر دارد که آن سالم است و در ضمن همسرش نیز سالم می باشد و مشکلی از نظر ذهنی و یا غیره ندارد. ', 'پدر مددجو به همراه همسرش در یک آپارتمان 50متری یک خوابه که متعلق به پدربزرگ مددجو می باشد، زندگی می کند. ')﻿,
(40, '40', 'ماهان ', 'شهبازی نژاد دوانی', 'محمود', '10/04/1385', 'کرج', '0313404641', '0313404641', '781283', 'کرج', '038119', 'عقب مانده ذهنی شدید', 'در اثر آنوکسی هنگام تولد', 'ش-2', 'کرج، گوهر دشت،فاز3،بلوک2، خیابان سوم شرقی، پلاک 8، واحد5', '', '14489-71859', '4418611-0261', '', '09364369040', '09124668032', '../upload/thumb40.jpg', '../upload/source40.jpg', 'مددجو از نظر رفتاری جیغ های بی دلیلی می زند و با توجه به ویزیت دکتر رونق کمی از جیغ ها و کوبیدن بر تخت، بهتر شده است اما از بین نرفته است. از نظر عاطفی نیز کودک پرسنل را می شناسد و زمانی که آن ها را در اول روز می بیند، بسیار خوشحال می شود و جیغ می کشد.', 'از نظر آموزشی در زمینه مهارت راه رفتن با کودک کار شده است که در حال حاضر با کمک مادریار می تواند راه برود.در زمینه مهارت هماهنگی چشم و دست نیز کار شده است. ', 'در زمینه مهارت هماهنگی چشم و دست و مهارت های حسی حرکتی با کودک کار می شود که تا به حال پیشرفت هایی نیز داشته ولی هنوز کامل نشده است. ', 'خانواده از وضعیت اقتصادی مناسبی برخوردار می باشد.', 'منزل شخصی می باشد. ', 'وضعیت بهداشت روانی والدین بسیار مطلوب می باشد و والدین پذیرای وی می باشند. ', '', '')﻿,
(41, '41', 'آتنا', 'شبراد بیگی', 'فریبرز', '21/11/1383', 'تهران', '0313073491', '0313073491', '768689', 'تهران', '032323', 'عقب مانده ذهنی و جسمی بسیار شدید', 'قبل از تولد بر اثر عفونت توکسوپلاسموزیس', 'ش1', 'فردیس، کانال غربی، 16 متری امام خمینی، بن بست گلستان ششم غربی، پلاک 84، واحد 9', '', '83985-31748', '6553110-0261', '', '09196437003', '09125931645', '../upload/thumb41.jpg', '../upload/source41.jpg', 'کودک از نظر رفتاری بسیار گریه می کند و اندام های بسیار خشکی دارد به صورتی که پاها و دست ها به صورت قیچی می باشد. از نظر عاطفی نیز هیچ فردی را نمی شناسد و به هیچ کسی واکنش نشان نمی دهد. ', 'از نظر آموزشی در زمینه نحوه نشستن و فاصله قرار دادن بین پاها با مددجو کار می شود. ', 'در زمینه یاد شده با کودک کار می شود. تا به حال پیشرفت خاصی صورت نگرفته است. تنها کمی از خشکی اندام ها کاسته شده است. ', 'خانواده از وضعیت اقتصادی مناسبی برخوردار نیستند. ', 'منزل والدین رهنی اجاره ای می باشدو مبلغ 40000000میلیون ريال بابت ودیعه مسکن و مبلغ 500000هزار ريال بابت اجاره بها پرداخت می کنند. ', 'روابط والدین بسیار مناسب است و تولد کودک تإثیر بدی بر روی خانواده نداشته است. ', '', '')﻿,
(42, '42', 'فاطمه ', 'شعبانی', 'محمد', '24/08/1383', 'تهران', '0250288117', '0250288117', '0656442', 'تهران', '038326', 'عقب مانده ذهنی بسیار شدید و جسمی متوسط', 'قبل از تولد بر اثر ویروس سرخجه', 'ش-3', 'تهران، فلکه چهارم تهرانپارس،خیابان وفادار شرقی،خیابان شهید رجایی،مجتمع مسکونی سپه شهر، بلوک 2،واحد7', 'کرج، میانجاده، خیابان عدل، کوچه ولیعصر، پلاک354، واحد 8', '58831-31936', '22547093-021', '77961810-021', '09194966650', '', '../upload/thumb42.jpg', '../upload/source42.jpg', 'کودک از نظر رفتاری بسیار ناامنی جاذبه دارد و در قبال دست زدن افراد دیگر به وی جیغ می کشد و زمانی که تختش باز می شود گوش هایش را می گیرد و جیغ می کشد. ', 'از نظر آموزشی در زمینه ناامنی مددجو با وی کار می شود. ', 'در زمینه مهارت یاد شده بسیار پیشرفت داشته و ناامنی کودک بسیار بهتر شده است . ', 'خانواده از نظر اقتصادی شرایط چندان مناسبی ندارند و صرفاً قادر به تأمین حداقل نیازهای خود می باشند. ', 'منزل مسکونی رهنی اجاره ای می باشد و مبلغ 50000000میلیون ريال بابت ودیعه مسکن و ماهیانه مبلغ 600000هزار ريال بابت اجاره بها پرداخت می کنند. ', 'وبهداشت روانی خانواده مناسب است اما پذیرای کودک خود نیستند .', 'در ابتدای تولد کودک مادر از نظر روانی دچار مشکل شده بود که با تولد کودک دوم حال روحی مادر بهبود یافته است. ', '')﻿,
(43, '43', 'سپیده', 'صدیق', 'مجهول الهویه ', '-', '', '-', '-', '-', '-', '-', '-', '-', '0', '-', '-', '-', '-', '-', '-', '-', '../upload/thumb43.jpg', '../upload/source43.jpg', 'از نظر رفتاری کودک مشکلی ندارد و مقابل این که کسی به وی دست می زند، بسیار می خندد و عکس العمل نشان می دهد. از نظر عاطفی به دلیل نابینایی و سن کم نمی تواند با کسی ارتباط برقرار کند . ', 'به دلیل چند معلولیتی بودن کودک در زمینه مهارت های حوزه شنیداری با کودک کار می شود. ', 'در زمینه یاد شده با کودک کار شده و توجه و تمرکز شنیداری کودک بهتر شده است و در حال حاضر در زمینه تعیین جهت شنیداری با کودک کار می شود. ', '', '', '', '', '')﻿,
(44, '44', 'فاطمه', 'صمدی', 'موسی', '09/03/1382', 'تهران', '0150712685', '0150712685', '445857', 'تهران', '', 'عقب مانده ذهنی و جسمی بسیار شدید', 'قبل از تولد', 'ص-3', 'تهرانسر غربی،شهرک استقلال،خیابان دکتر عبیدی،کوچه 9،پلاک10', '', '99536-45741', '44563663-021', '44503023-021', '', '', '../upload/thumb44.jpg', '../upload/source44.jpg', 'از نظر رفتاری کودک مشکلی ندارد و اختلال خاصی ندارد. از نظر عاطفی نیز در مقابل کسی که با وی بازی کند و یا نوازشش کند می خندد. ', 'در زمینه مهارت های توجه و افزایش دامنه آن همراه با مهارت های حوزه دیداری با کودک کار شده و در زمینه کاهش اسپاسم اندان ها نیز با کودک کار شده است. ', 'در زمینه های یاد شده ، میزان تونوس عضلانی کودک بهتر شده است و در زمینه توجه نیز پیشرفت داشته است و مهارت های حوزه دیداری به جز< تمیز دیداری را کسب نموده است. ', 'وضعیت اقتصادی خانواده چندان مناسب نیست. ', 'منزل شخصی می باشد. ', 'مادر مددجو، 5/1 سال پیش ازدواج مجدد داشته و در حال حاضر در زنجان سکونت دارد. ', 'پدر مددجو در دوران بارداری مادر در 5 ماهگی اقدام به خود کشی نموده و فوت نموده است. ', '')﻿,
(45, '45', 'سعید', 'طهماسبی', 'محمد', '02/01/1377', 'تهران', '0020923937', '0020923937', '692261', 'تهران', '061168', 'عقب ماندگی ذهنی متوسط', 'قبل از تولد', 'ط-1', 'تهران، خیابان پیروزی،خیابان سیرجان،کوچه مهرافرا،کوچه شهید سیدی، بن بست ارغوان،پلاک25،واحد2', '', '38477-17636', '33780735-021', '', '09192168911', '', '../upload/thumb45.jpg', '../upload/source45.jpg', 'کودک از نظر رفتاری مشکلی ندارد و تنها گاهی اوقات از خود صدایی مانند صدای موتور ماشین در می آورد.از نظر عاطفی نیز با رفتارهایش نشان می دهد که افراد مختلف را می شناسد.  ', 'از نظر آموزشی در زمینه مهارت های حرکتی و مهارت های شناختی مختلف آموزش دیده است. ', 'تا به حال در زمینه مهارت های شناختی ، شناخت میوه ها، اشیاء و حیوانات با مددجو کار شده است که در زمینه های میوه ها و اشیاء کامل شده و به مهارت رسیده است و در زمینه حیوانات نیز در حال آموختن می باشد. ', 'وضعیت اقتصادی خانواده مساعد می باشد. ', 'منزل مسکونی شخصی می باشد. ', 'مشکل خاصی در خانواده وجود ندارد و خانواده از وضعیت بهداشتی روانی مناسبی برخوردار می باشند. ', '', '')﻿,
(46, '46', 'میترا', 'کرمی', 'علی', '18/01/1376', 'تهران', '0020040555', '0020040555', '583338', 'تهران', '800125', 'عقب مانده ذهنی بسیار شدید از نوع میکروسفالی', 'قبل از تولد به علت بسته شدن زود رس کاسه های سر', 'ک-4', 'تهران،جاده خاوران،شهرک خاوران،20متری امام خمینی، جنب در مانگاه سجاد، طبقه سوم', '', '', '', '', '09191186027', '', '../upload/thumb46.jpg', '../upload/source46.jpg', 'از نظر رفتاری مدام می ایستد و دست های خود را گاز می گیرد و می مکد. از نظر عاطفی نیز به کسی تعلق خاطر ندارد. ', 'در زمینه مهارت های حرکتی آموزش می بیند. ', 'در زمینه مهارت های حرکتی درشت در بالا و پایین رفتن از پله بسیار مشکل داشت که با جلسات مختلف درمانی خیلی بهتر شده است. ', 'خانواده از وضعیت اقتصادی مناسبی برخوردار نیستند. ', '', '', '', '')﻿,
(47, '47', 'هانیه', 'کشاورز', 'محمد رضا', '19/12/1379', 'کرج', '0312279736', '0312279736', '793745', 'کرج', '017144', 'عقب مانده ذهنی و جسمی بسیار شدید', 'قبل از تولد', 'ک-5', 'کرج، گوهر دشت،کوی اوقافی ها،روبروی پارک کوچک اوقافی ها،پلاک17', 'کرج، حیدرآباد،خیابان میانجاده،بن بست 36، پلاک 20، طبقه زیر زمین.', '', '4550698-0261', '', '09126607965', '09365359589', '../upload/thumb47.jpg', '../upload/source47.jpg', 'از نظر رفتاری هیچ مشکلی ندارد و از نظر عاطفی نیز نیز به کسی وابستگی ندارد و کسی را نمی شناسد.', 'کودک جزو کودکان حمایت پذیر می باشد و آموزش پذیر نیست.', 'علی رغم جلسات مختلف در زمینه مهارت های برقراری ارتباط چشمی، هنوز هیچ پیشرفتی صورت نگرفته است.  ', 'توانایی مالی خانواده در حد تأمین نیازهای اولیه می باشد. ', 'منزل اجاره ای می باشد و ماهیانه 2000000میلیون ريال اجاره بها پرداخت می شود. ', 'تولد مددجو تأثیرات منفی ای بر روی روابط خانوادگی خانواده دارد. ', '', '')﻿,
(48, '48', 'سیده مهسا', 'کشفی', 'سید علیرضا', '28/12/1379', 'کرج', '0312300840', '0312300840', '962053', 'کرج', '008596', 'عقب مانده ذهنی و جسمی بسیار شدید', 'قبل از تولد', 'ک-7', 'کرج،عظیمیه،میدان گلستان،خیابان گلستان، ششم شرقی،پلاک25', '', '76141-31736', '2506048-0261', '', '09123723201', '', '../upload/thumb48.jpg', '../upload/source48.jpg', 'از نظر رفتاری مشکلی ندارد و از نظر عاطفی نیز هیچ کسی را نمی شناسد. ', 'کودک هیچ آموزشی ندیده و به علت مشکلات عدیده کودک نمی توان آموزشی نیز برای وی در نظر گرفت . کودک حمایت پذیر می باشد. ', 'در زمینه مهارت های توجه و تمرکز و مهارت های حوزه دیداری با کودک کار شده است . هیچ پیشرفتی هنوز حاصل نشده است. ', 'توانایی مالی خانواده مناسب می باشد و توان رفع مشکلات توانخواه را دارند. ', 'پدر در منزل پدربزرگ پدری مددجو زنگی می کند. ', 'پدر و مادر از هم جدا شده اند. ', '', '')﻿,
(49, '49', 'ارشیا', 'طاهر آبادی ', 'احمد', '16/03/1385', 'کرج', '0313379467', '0313379467', '439238', 'کرج', '033453', 'عقب ماندگی ذهنی و جسمی، نابینایی و ناشنوایی', 'قبل از تولد به علت ویروس سرخک', 'ط-2', 'کرج،آسیاب برجی ، خیابان قناد،کوچه ولیعصر،پلاک28', '', '15153-31366', '2715213-0261', '', '09125435795', '', '../upload/thumb49.jpg', '../upload/source49.jpg', 'کودک از نظر رفتاری مشکل خاصی ندارد و سرش را به تخت می زند و گاهی نیز گریه بسیار دارد. از نظر عاطفی نیز به دلیل چند معلولیتی بودن و عدم توانایی بسیار بالا نمی تواند با کسی ارتباط برقرار کند. ', 'به دلیل عدم توانایی های ذکر شده کودک آموزش پذیر نیست. ', 'تا به حال در زمینه مهارت های حسی با کودک کار شده و si با کودک کار می شود. ', 'توانایی مالی خانواده مناسب نیست. ', 'منزل رهنی اجاره ای می باشد. مبلغ 20 میلیون ريال بابت ودیعه مسکن و مبلغ 2 میلیون ريال ماهیانه بابت اجاره بها پرداخت می کنند. ', 'تولد مددجو در روابط مابین والدین تأثیر نامطلوبی اشته که با پذیرش در مرکز توانمهر این مشکل تا حدود زیادی بهتر شده است. در ضمن والدین علاقه زیادی به بچه دار شدن دارند.', '', '')﻿,
(50, '50', 'گلسا', 'طاووسی', 'آرش', '28/10/1388', 'تهران', '0152266501', '0152266501', '388389', 'تهران', '043656', 'عقب مانده ذهنی  بسیار شدید', 'قبل از تولد', 'ط-3', 'کرج، جهانشهر،خیابان بوستان،کوچه نسترن، پلا50،طبقه سوم،واحد6 ', '', '47331-31447', '4480229-0261', '', '09125681295', '', '../upload/thumb50.jpg', '../upload/source50.jpg', 'کودک از نظر رفتاری مشکلی ندارد. از نظر عاطفی در مقابل افراد کیلینیک لبخند می زند. ', 'در زمینه کاردرمانی بر روی دست دچار دی پلژی کودک با وی کار می شود . ', 'در زمینه یاد شده کودک پیشرفت داشته و در حال حاضر می تواند دست خود کاملاً حرکت دهد. ', 'خانواده از وضعیت اقتصادی مناسبی برخوردار می باشند. ', 'منزل رهنی اجاره ای می باشد که 30میلیون ريال بابت ودیعه مسکن و ماهیانه 2700000 هزار ريال بابت اجاره بها پرداخت می کنند. ', 'هر دو والدین به علت معلولیت کودک و جدایی از وی و سپردن وی به مرکز توانمهر بسیارافسرده شده اند.', '', '')﻿,
(51, '51', 'فاطمه ', 'صمیمی ممان', 'مرتضی', '27/01/1374', 'تهران', '0017936780', '0017936780', '417243', 'تهران', '00245406', 'عقب مانده ذهنی و جسمی بسیار شدید', 'قبل از تولد', 'ص-5', 'جاده ساوه، گلستان،10متری شهید کریمی،والفجر هفت غربی، پلاک69', '', '', '4621319', '', '', '', '../upload/thumb51.JPG', '../upload/source51.JPG', 'کودک از نظر رفتاری مشکلی ندارد و از نظر عاطفی نیز هیچ کسی را نمی شناسد. ', 'کو.دک جزو کودکان عقب مانده ذهنی بسیار شدید می باشد و از نظر آموزشی حمایت پذیر است و در حد کودکان آموزش پذیر و یا حتی تربیت پذیر نیز نمی باشد. ', 'در زمینه مهارت های حوزه دیداری با مددجو کار شده است. که به مهارت های این حوزه غیر از نگاه کردن از یک هدف به هدفی دیگر را هنوز کسب ننموده است. ', 'وضعیت مالی خانواده تقریباً مناسب می باشد. ', 'منزل مسکونی شخصی می باشد و حدود 100 متر مربع مساحت دارد که 80متر مربع آن زیر بنای متزل می باشد. ', 'کودک قبل از ورود به مرکز توانمهر به مدت یک سال جلسات فیزیوتراپی،کاردرمانی و گفتار درمانی را گذرانده است که هیچ تغییری در وضعیت کودک صورت نگرفته است. ', 'خانواده قبل از ورود کودک به مرکز توانمهر و در زمانی که کودک در منزل نگهداری می شده از شرایط روانی بدی برخوردار بودند.اما با سپردن کودک به مرکز به تدریج شرایط خانواده از لحاظ بهداشت روانی بهتر شده است. ', '')﻿,
(52, '52', 'مهدی ', 'عبدالهی', 'علی حسن', '21/07/1371', 'ساوجبلاغ', '4890147985', '4890147985', '744812', 'ساوجبلاغ', '036345', 'عقب مانده ذهنی متوسط و جسمی از نوع کوادری پلژی', 'قبل از تولد', 'ع-1', 'علی آباد گونه،خیابان شهدا، کوچه ولیعصر،', 'خرمدشت، میثم 3، اواسط خیابان ، روبرویکفش فروشی مهدی ،لادن جنوبی،اولین بن بست دست راست،درب دوم شمالی،پلاک33،طبقه همکف', '84768-31848', '4806737', '', '09376246946', '', '../upload/thumb52.jpg', '../upload/source52.jpg', 'مددجو از نظر رفتاری مشکلی ندارد و تنها زمانی که خواسته اش برآورده نمی شود،خودش از تخت پایین می آیدو لجبازی می کند و بالا نمی رود.', 'مددجو در زمینه مهارت های fine و مهارت های شناختی آموزش دیده است. قادر به انجام مهارت های خودیاری خود می باشد.', 'در زمینه مهارت های fine مشکل ندارد و آموزش دیده است.در زمینه مهارت های شناخت میوه ها آموزش می بیند که تعداد بسیار کمی را آموخته است و بقیه در حال آموزش است. ', 'وضعیت اقتصادی خانواده تقریباٌ مناسب است. ', 'منزل شخصی است.', 'خانواده از لحاظ شرایط بهداشت روانی زیاد مناسب نیستند. ', 'مددجو قبل از ورود به مرکز توانمهر مدت کمی در مرکز روزانه توانبخشی نگهداری می شده است. ', '')﻿,
(53, '53', 'زهرا', 'عرب نیا', 'پرویز', '04/03/1374', 'تهران', '6580053836', '6580053836', '574084', 'تهران', '', 'عقب مانده ذهنی بسیار شدید و جسمی شدید', 'قبل از تولد', 'ع-2', 'پاکدشت،بلوار شمالی،کوچه صفدری،پلاک44', 'پاکدشت،بلوار خرمشهر،پلاک93', '16664-33918', '3030607-0292', '3039561-0292', '09121272858', '', '../upload/thumb53.jpg', '../upload/source53.jpg', 'مددجو از نظر رفتاری هنگام غذا خوردن بسیار جیغ می کشد و گریه می کند. از نظر عاطفی نیز هیچ فردی را نمی شناسد و عکس العمل مناسبی در مقابل افراد نشان نمی دهد. ', 'مددجو از نظر آموزشی تنها تحتد آموزش های حوزه دیداری قرار گرفته است.', 'تا به اکنون در زمینه مهارت های حوزه دیداری آموزش دیده و تعقیب چشمی،نگاه کردن از یک تصویر به یک تصویر دیگر و توجه دیداری را آموخته است. ', 'وضعیت اقتصادی خانواده به صورتی است که قادر به تأمین نیازهای ضروری خانواده می باشند. ', 'منزل شخصی است.', 'شرایط بهداشت روانی خانواده مناسب است اما پذیرای مددجو نمی باشند. ', '', '')﻿,
(54, '54', 'فاطمه', 'عسگری', 'مهرداد', '23/08/1381', 'کرج', '0312595980', '0312595980', '845399', 'کرج', '202040030369', 'عقب مانده ذهنی بسیار شدید و معلولیت جسمی شدید', 'قبل از تولد', 'ع-3', 'کرج،گوهردشت،خیابان ششم شرقی، پلاک51', '', '', '2703171-0261', '', '', '', '../upload/thumb54.jpg', '../upload/source54.jpg', 'کودک از نظر رفتاری در بعضی مواقع گریه بسیار زیادی م یکندو از نظر عاطفی نیز افراد را با اشاره می شناسد اما زمانی که یک فرد را برای مدت زیادی نبیند وی را فراموش کرده و نسبت به دیدن وی بعد از مدت ها عکس العمل مناسب نشان نمی دهد. ', 'در زمینه مهارت های حرکتی درشت و ظریف با کودک کار می شود.', 'در زمینه مهارت های حرکتی ظریف هیچ پیشرفتی نداشته است. در زمینه هماهنگی جشم و دست با کودک کار می شود که در این زمینه نیز تا به حال پیشرفتی نداشته است. در زمینه مهارت های حرکتی درشت نیز به علت مشکل چرخش مچ پا، پسرفت داشته است. ', 'وضعیت اقتصادی خانواده مناسب می باشد. ', 'منزل رهنی اجاره ای می باشد و 17 میلیون ريال بابت ودیعه مسکن و ماهیانه مبلغ 500000هزار ريال بابت اجاره بها پرداخت می نمایند. ', '', '', '')﻿,
(55, '55', 'نرگس ', 'عبدالوند ', 'حسین', '25/08/1385', 'تهران', '4901601903', '4901601903', '350246', 'تهران', '005848', 'عقب مانده ذهنی و جسمی بسیار شدید', 'قبل از تولد', 'ع-4', 'کرج، سرآسیاب،خیابان مصیب زاده،بن بست 14، پلاک 1010', '', '85416-31699', '', '', '09385648191', '09127108126', '../upload/thumb55.jpg', '../upload/source55.jpg', 'کودکاز نظر رفتاری هیچ گونه مشکلی ندارد و از نظر عاطفی نیز به هیچ فردی وابستگی ندارد و یا هیچ فردی را نمی شناسد.', 'از نظر آموزشی کودک قادر به آموزش نیست و جزو کودکانت حمایت پذیر می باشد. ', 'در زمینه توجه و تمرکز و مهارت های حوزه دیداری با کودک کار شده که تعقیب چشمی آموخته شده و ارتباط چشمی نیز بهتر شده است. ', 'وضعیت اقتصادی خانواده متوسط رو به پایین می باشد. ', 'منزل شخصی می باشد. ', 'پدر و مادر نسبت پسر عمو و دختر عمو دارند. ', '', '')﻿,
(56, '56', 'محمد ', 'فراش نعمتی', 'ابوالقاسم', '09/05/1374', 'کرج', '0311279244', '0311279244', '539666', 'کرج', '009646', 'عقب مانده ذهنی متوسط', 'قبل از تولد به صورت ژنتیکی', 'ف-1', 'کرج، کلاک پایین،کوچه برق،کوچه بسیج،کوچه رسالت،بن بست اول،پلاک19', '', '38458-31597', '2313582-0261', '', '', '', '../upload/thumb56.jpg', '../upload/source56.jpg', 'از نظر رفتاری مددجو بسیار حرف های زشت می زند و حرکات بدی انجام می دهد. از نظر عاطفی نیز بسیار بهانه مادر را می گیرد و همه را به نام می شناسد. ', 'در زمینه مهارت های شناختی بسیار آموزش دیده است. ', 'در زمینه شناخت میوه ها و اشیاء و حیوانات آموزش دیده بود و همه را آموخته بود در زمینه شناخت رنگ ها و طبقه بندی آن ها با مددجو کار می شود که در طبقه بندی تقریباً پیشرفت داشته و این فعالیت را کامل کرده است. ', 'وضعیت اقتصادی خانواده مناسب نیست و تحت پوشش کمیته امداد امام خمینی می باشند. ', 'منزل شخصی است. ', 'پدر مددجو دچار صرع می باشد. ', '', '')﻿,
(57, '57', 'مهدیه', 'فتحی', 'قاسم', '17/08/1383', 'تهران', '0025686879', '0025686879', '663251', 'تهران', '032181', 'عقب مانده ذهنی و جسمی بسیار شدید', 'قبل از تولد', 'ف-2', 'کرج، فردیس،فلکه پنجم،کوچه 21 غربی،کوی 10متری گلها،مجتمع مسکونی بنفشه،طبقه اول شرقی', '', '34113-11366', '6545901-0261', '', '09125125144', '', '../upload/thumb57.jpg', '../upload/source57.jpg', 'کودک از نظر رفتاری هیچ مشکلی ندارد و از نظر عاطفی نیز هیچ درک و فهمی از محیط و اطرافیان خود ندارد. ', 'از نظر آموزشی کودک جزو کودکان عقب مانده ذهنی و جسمی بسیار شدید و یا حمایت پذیر است که امکان آموزش برای وی وجود ندارد. ', 'در زمینه شرطی کردن کودک در زمان غذا خوردن تلاش شد و کودک شرطی شد و این راهی بود جهت غذا خوردن بهتر.', 'وضعیت اقتصادی خانواده متوسط می باشد.', 'منزل مسکونی متعلق به پدربزرگ مادری مددجو می باشد که بلاعوض در اختیارشان قرار گرفته است. ', 'مادر بعد از تولد کودک دچار افسردگی شده بود که بعد از سپردن کودک به مرکز توانمهر این حالت به تدریج از بین رفته است. ', 'پدر و مادر مددجو دختردایی و پسرعمه می باشند. \r\n', '')﻿,
(58, '58', 'علی ', 'فخری میرزانق', 'شکور', '27/07/1376', 'لنگرود', '0311813348', '0311813348', '185377', 'لنگرود', '031575', 'عقب مانده ذهنی بسیار شدید و جسمی شدید', 'قبل از تولد', 'ف-3', 'کرج،حصار خط چهارم،انقلاب11،پلاک40', '', '63351-31568', '2278101-0261', '', '', '', '../upload/thumb58.jpg', '../upload/source58.jpg', 'مددجو از نظر رفتاری دست های خود را مدام در دهان قرار می دهد و می مکد. ولی اذیت و آزاری برای دیگران ندارد و مزاحمت ایجاد نمی کند. از نظر عاطفی نیز با کسی ارتباط چشمی برقرار نمی کند و نسبت به هیچ کسی عکسالعمل نشان نمی دهد. ', 'با توجه به عوامل ذکر شده در بالا و کمبود بهره هوشی مناسب ، مددجو جزو کودکان عقب مانده حمایت پذیر می باشد و آموزشی را نمی توان برای وی در نظر گرفت. ', 'در زمینه برفراری ارتباط چشمی مددجو با اطرافیان ، کوشش به عمل آمد که در این زمینه به علت پایین بودن میزان و دامنه توجه و تمرکز هیچ پیشرفتی هنوز حاصل نشده است به همین علت تصمیم بر آن شد تا در زمینه مهارت های حس لمس با کودک کار شود و هم اکنون در این زمینه تلاش می شود ولی هنوز هیچ عکس العملی وجود ندارد. ', 'وضعیت مالی خانواده مددجو تقریبا مناسب می باشد. ', 'خانواده مددجو در منزل پدری پدر مددجو ساکن می باشند.', 'مددجو خواهری کوچکتر از خود دارد که سالم می باشد. ', '', '')﻿,
(59, '59', 'علیرضا', 'قریب', 'مجید', '15/06/1377', 'تهران', '5560503052', '5560503052', '421737', 'تهران', '0044741', 'عقب مانده ذهنی شدید', 'قبل از تولد', 'ق-2', 'جاده ساوه،بعد از اسلام شهر،شهرک گلستان، فلکه دوم،بوستان7،پلاک88،واحد9', '', '49978-37591', '4318386-0229', '', '09362156634', '09122247586', '../upload/thumb59.JPG', '../upload/source59.JPG', 'مددجو از نظر رفتاری تنها هنگامی که کاری را که علی رغم میل باطنی اوست از او خواسته شود فرد مقابل را کتک می زند که یا با سر می زند و یابا دست یک ضربه می زند. ', 'از نظر آموزشی در زمینه های چیدن پازل ها و مهره ها آموزش می بیند.', 'در زمینه مهارت های حرکتی ظریف و همچنین چیدن پازل ها با کودک کار می شود که در چیدن مهره ها و استوانه ها مهارت لازم را کسب نموده است اما در چیدن پازل ها هنوز با مشکل روبه رو است . ', 'وضعیت اقتصادی خانواده متوسط می باشد. ', 'محل سکونت خانواده متعلق به مادر می باشد و 10میلیون ريال ودیعه مسکن و ماهیانه 900 هزار ريال بابت اجاره بها پرداخت می شود. ', 'پدر و مادر مددجو دختر خاله و پسرخاله هستند. ', 'خانواده کاملاً پذیرای کودک خود می باشند و بسیار وی را به منزل برده و مدت های طولانی نگهداری می کنند. ', '')﻿,
(60, '60', 'شیما', 'لطفی', 'علی', '01/07/1371', 'اندیمشک', '1920162437', '1920162437', '797233', 'اندیمشک', '008632', 'عقب مانده ذهنی و جسمی بسیار شدید', 'قبل از تولد', 'ل-1', 'کرج، فردیس،فلکه دوم،خیابان سوم غربی،پلاک43،زنگ71', 'کرج،ملارد،خیابان شهید صدوقی،گلستان5،ساختمان22،واحد3', '77456-31758', '6511977-0261', '', '', '', '../upload/thumb60.jpg', '../upload/source60.jpg', 'مددجو از نظر رفتاری مدام دست های خود را می مکد و اگر دست هایش را ببندند و یا این که از جویدن و مکیدن آن ها جلوگیری به عمل آید جیغ می کشد و بسیار گریه می کند. البته زمانی که گرسنه می شود و غذا هنوز آماده خوردن نیست بسیار جیغ و فریاد می کند و آرام نمی نشیند تا به او غذا دهند. ', 'با توجه به میزان بهره هوشی بسیار کم مددجو امکان آموزش برای کودک میسر نیست. ', 'تا به حال در زمینه مهارت های حوزه دیداری و مهارت های توجه و تمرکز با کودک کار شده است که هیچ گونه پیشرفتی تا به حال حاصل نشده است.', 'وضعیت اقتصادی خانواده چندان مناسب نیست. ', 'منزل رهنی اجاره ای می باشد و 30میلیون ريال ودیعه و ماهیانه 1200000هزار ريال اجاره بها پرداخت می کنند. ', 'پدر مددجو فوت نموده است و مادر نیز حالات عصبی دارد.یکی از خواهران شیما نیز مشکل صرع دارد. ', '', '')﻿,
(61, '61', 'سید علی اصغر ', 'موسوی', 'سید ابو الحسن', '21/10/1381', 'کرج', '4890501290', '4890501290', '123645', 'کرج', '05151-م', 'عقب مانده ذهنی شدید', 'قبل از تولد', 'م-2', 'جاده قدیم کرج،قزوین،روستای لشگر آباد،خیابان اصلی امام خمینی، کوچه 8متری دانشمند،جنب مدرسه دانشمند، منزل موسوی', '', '44576-33641', '4454840-0262', '', '09124617750', '', '../upload/thumb61.jpg', '../upload/source61.jpg', 'مددجو از نظر رفتاری زیاد به تخت می کوبد و اگر از وی خواسته شود که این کار را انجام ندهد بیشتر می کوبد و می خندد. ', 'از نظر آموزشی در زمینه مهارت های راه رفتن مناسب و گرفتن مناسب یک شیء با مددجو کار می شود.', 'در زمینه های یاد شده مددجو پیشرفت کمی داشته و این امر بیشتر به علت میزان کم توجهی بسیار بالای اوست.', 'وضغیت مالی خانواده چندان مناسب نیست.', 'منزل رهنی اجاره ای می باشد که 1500000هزار ريال ودیغه مسکن و ماهیانه 500000 هزار ريال اجاره بها پرداخت می کنند.', 'پدر مادر را از نظر ژنتیکی مقصر معلولیت کودک خود می داند و همین جو داخل خانواده را تشنج کرده است.', '', '')﻿,
(62, '62', 'زهرا', 'محمد خراسانی', 'حمیدرضا', '10/07/1379', 'تهران', '0023477210', '0023477210', '522817', 'تهران', '', 'عقب مانده ذهنی و جسمی بسیار شدید', 'هایپوکسی هنگام زایمان', 'م-3', 'خانی آباد نو،خیابان میثاق،شهرک بوستان،کوچه30،پلاک4', '', '44569-18931', '55021536-021', '', '', '', '../upload/thumb62.jpg', '../upload/source62.jpg', 'کودک از نظر رفتاری در هنگام غذا خوردن بسیار گریه می کند و بسیار بد غذا می خورد.از نظر عاطفی تنها به افرادی که خیلی آن ها را دوست دارد، لبخند می زند. ', 'از نظر آموزشی عادت کرده که تنها یک نفر به وی غذا دهند و اگر فرد دیگری این کار را انجام دهد و یا این که فرد مورد نظر در مرکز حضور نداشته باشد، بسیار گریه می کند و غذا نیز نمی خورد. ', 'در زمینه مهارت های توجه و تمرکز با کودک کار شده که توجه و میزان آن نیز خیلی بهتر شده است. ', 'وضعیت اقتصادی خانواده در حد برطرف کردن نیازهای خانواده می باشد و از لحاظ اجتماعی نیز مناسب هستند.  ', 'منزل 40 متری در یک ساختمان 3 طبقه ای که متعلق به پدربزرگ کودک می باشد، واقع شده است که پدربزرگ و عموی مددجو در طبقات دیگر آن ساکن هستند. ', 'وضعیت بهداشت روانی خانواده مناسب است اما نگهداری در منزل برای آن ها سخت می باشد. ', 'مددجو خواهر دو قلویی دارد که سالم می باشد و در کلاس چهارم دبستان مشغول به تحصیل است. ', '')﻿;
﻿INSERT INTO `patient` (`patientId`, `patientCode`, `name`, `family`, `father`, `birthday`, `birthplace`, `melliCode`, `shenasNo`, `shenasSerial`, `shenasSodur`, `disabilityCode`, `disabilityType`, `disabilityStartDate`, `caseNumber`, `homeAdress1`, `homeAdress2`, `postalCode`, `tel1`, `tel2`, `mobile1`, `mobile2`, `photo1`, `photoSource`, `behavioralStatus`, `educationalStatus`, `actionsTaken`, `economicSituation`, `statusOfHomeVisits`, `comments1`, `comments2`, `comments3`) VALUES
(63, '63', 'دانیال', 'محمد خان', 'مجید', '01/03/1372', 'تهران', '0015816184', '0015816184', '124650', 'تهران', '038327', 'عقب مانده ذهنی شدید و سندروم داون', 'قبل از تولد', 'م-4', 'تهران، خیابان شهید رجایی،18 متری تفتی،کوچه 7، پلاک 36', '', '76797-18396', '', '', '', '', '../upload/thumb63.jpg', '../upload/source63.jpg', 'مددجو از لحاظ رفتاری علاقه زیادی به بازی دارد و زمانی که به اتاق بازی آورده شود ، بسیار سخت می توان وی را از آن جا بیرون کشید.', 'در زمینه های مهارت های ظریف و چیدن استوانه و مهره ها و پازل ها آموزش دیده است.', 'در زمینه چیدن مهره ها و استوانه ها و گرفتن یک شیء با دو انگشت سبابه و شصت پیشرفت خوبی داشته است و در زمینه های دیگر در حال آموزش است. ', 'وضعیت اقتصادی خانواده به صورتی است که خانواده قادر به رفع مشکل اعضای خانواده و تأمین نیازهای اولیه می باشند. ', 'منزل اجاره ای می باشد.', 'بعد از تولد مددجو مادر وی دچار افسردگی و اختلالات رفتاری شده بود. و به همین دلیل خانواده از وضعیت بهداشت روانی مناسبی برخوردار نیست و مادر حالات پرخاشگری نیز دارد. ', 'قبل از پذیرش در مرکز توانمهر در یک مرکز روزانه به مدت یک ماه تحت آموزش بوده که بازدهی نداشته است. ', 'البته مددجو برادری دارد که دو سال بعد از وی به دنیا آمده و سالم است و هم اکنون در کلاس سوم راهنمایی مشغول به تحصیل می باشد.')﻿,
(64, '64', 'فاطمه', 'مقصودی', 'بختیار', '16/08/1374', 'کرج', '0311331841', '0311331841', '748267', 'کرج', '018864', 'عقب ماندگی ذهنی و جسمی بسیار شدید', 'قبل از تولد ', 'م-5', 'کرج،بلوار بهارستان،پشت فرمانداری،بنفشه2،پلاک21', 'کرج،چهار راه طالقانی،طالقانی شمالی،بلوار بهارستان،بنفشه2،پلاک42 جنوبی', '', '4438441-0261', '', '', '', '../upload/thumb64.JPG', '../upload/source64.JPG', 'از نظر رفتاری مددجو مشکلی نداردو از نظر عاطفی مادر را خوب می شناسد و در مقابل صدا زدن نامش جواب بله می دهد. ', 'از نظر آموزشی در زمینه های توجه و تمرکز و هم اکنون در زمینه شناخت رنگ ها آموزش می بیند. ', 'در زمینه توجه و تمرکز مناسب است اما در زمینه سایر مهارت های حوزه دیداری مانند تعقیب چشمی و ... هیچ پیشرفتی نداشته است. ', 'از نظر مالی خانواده هیچ مشکلی ندارند و قادر به تأمین نیازهای خود می باشند. ', 'زمینه منزل مسکونی حدود 200متر مساحت دارد که حدود 120 متر زیر بنای منزل می باشد. ', 'والدین با هم اختلاف دارند و همدیگر را نمی پذیرند.به همین دلیل پذیرای مددجو نیز نمی باشند و تنها مادر به ملاقات مددجو می آید. ', 'مادر قبل از ازدواج با پدر مددجو ،ازدواج کرده بود و یک پسر از آن ازدواج داشته و همسرش شهید شده است. پدر مددحو برادر همسر قبلی مادر مددجومی باشد.', 'برادر ناتنی مددجو با پدر مددجو ( عمویش که در حال حاضر شوهر مادرش است) اختلاف دارند.')﻿,
(65, '65', 'حسن', 'معصومی', 'ارشد', '14/01/1376', 'کرج', '0311575897', '0311575897', '572274', 'کرج', '000994', 'عقب مانده ذهنی بسیار شدید', 'قبل از تولد به علت زایمان زودرس', 'م-6', 'کرج،حصارک،خیابان فروردین،کوچه 15 خرداد، پلاک8', '', '35963-31989', '2718369-0261', '', '', '', '../upload/thumb65.jpg', '../upload/source65.jpg', 'کودک از نظر رفتاری بسیار از خود صدا در می آورد و مدام لیوانی به دست دارد و بسیار نیز آب می خورد. ', 'مددجو از نظر آموزشی جزو کودکان عقب مانده ذهنی حمایت پذیر می باشد و قابل آموزش نیست. ', 'در زمینه SI با کودک کار می شود.', 'وضعیت اقتصادی خانواده تقریباً مناسب است.از نظر اجتماعی نیز خوب می باشد. ', 'منزل شخصی می باشد.', 'روابط بین خانوادگی کاملاً مناسب است و والدین به صورت مستمر به دیدن فرزندان خوی می آیند. ', 'حسن برادر دوقلویی دارد که او نیز معلول می باشد. ', 'هر دو فرزند به علت زایمان زود رس به عقب ماندگی ذهنی و معلولیت مبتلا شدند. والدین نسبت دختر عمه و پسردایی دارند. ')﻿,
(66, '66', 'حسین', 'معصومی', 'ارشد', '14/01/1376', 'کرج', '0311575900', '0311575900', '572273', 'کرج', '000994', 'عقب مانده ذهنی بسیار شدید', 'قبل از تولد به علت زایمان زود رس', 'م-7', 'کرج،حصارک،خیابان فروردین،کوچه 15 خرداد، پلاک8', '', '35963-31989', '2718369-0261', '', '', '', '../upload/thumb66.jpg', '../upload/source66.jpg', 'کودک از نظر رفتاری بسیار از خود صدا در می آورد . ', 'مددجو از نظر آموزشی جزو کودکان عقب مانده ذهنی حمایت پذیر می باشد و قابل آموزش نیست. ', 'در زمینه SI با کودک کار می شود.', 'وضعیت اقتصادی خانواده تقریباً مناسب است.از نظر اجتماعی نیز خوب می باشد. ', 'منزل شخصی می باشد.', 'روابط بین خانوادگی کاملاً مناسب است و والدین به صورت مستمر به دیدن فرزندان خوی می آیند. ', 'حسین برادر دوقلویی دارد که او نیز معلول می باشد. ', 'هر دو فرزند به علت زایمان زود رس به عقب ماندگی ذهنی و معلولیت مبتلا شدند. والدین نسبت دختر عمه و پسردایی دارند. ')﻿,
(67, '67', 'ساحل', 'محمدی اصغر', 'محمد', '07/02/1383', 'کرج', '0312904940', '0312904940', '301580', 'کرج', '202040033827', 'عقب مانده ذهنی و جسمی بسیار شدید', 'قبل از تولد', 'م-8', 'کرج،شهرک وحدت،خیابان ششم شرقی،پلاک12', 'کرج،سرآسیاب،ملارد،خیابان شریفی،پلاک14،طبقه سوم، واحد12', '44469-31658', '6440893-0261', '6464695-0261', '09355186155', '', '../upload/thumb67.jpg', '../upload/source67.jpg', 'مددجو از لحاظ رفتاری مشکلی ندارد. از نظر عاطفی نیز هیچفردی را نمی شناسد و به هیچ فردی تغلق خاطر ندارد. ', 'از نظر آموزشی کودک جزو کودکان آموزش پذیر نیست.', 'تا به حال در زمینه مهارت های تعقیب چشمی و توجه دیداری آموزش دیده که هر دو را کسب نموده است و در حال حاضر در زمینه si با کودک کار می شود. ', 'ضعیت مالی خانواده مناسب نیست. ', 'منزل اجاره ای می باشد و خانواده ماهیانه مبلغ 1500000هزار ريال بابت اجاره بها پرداخت می کنند. ', 'بعد از تولد مددجو ، پدر از نظر روانی و اعصاب مشکل پیدا کرده و در حال حاضر تحت درمان آقای دکتر منوچهر صامت ( روانپزشک) می باشد.', 'پدر مددجو نتیجه عموی مادر مددجو می باشد. ', '')﻿,
(68, '68', 'بنیامین', 'محمدی', 'محمد', '18/07/1383', '', '0025678604', '0025678604', '347321', 'تهران', '004646', 'عقب ماندگی ذهنی و جسمی بسیار شدید همراه با نابینایی از نوع هیدروسفالی', 'قبل از تولد', 'م-10', 'کرج، اندیشه،فاز یک رفاه،رفاه یک،کوچه مدرسه، پلاک9،واحد2', 'تهران،نرسیده به بومهن،شهرک پردیس،فاز3،محله3،واحد3', '', '3525734-0262', '76278376-021', '09353970130', '', '../upload/thumb68.jpg', '../upload/source68.jpg', 'مددجواز نظر رفتاری هنگامیکه خیلی گرسنه باشد،گریه می کند و از نظر عاطفی به این علت نور را می بیند و زمانی که به قوای شنیداری وی محرکی ارائه شود می خندد.', 'از نظر آموزشی در حوزه شنیداری و si با کودک کار می شود.', 'در زمینه های یاد شده کمی پیشرفت داشته و جهت شنیداری را آموخته است  و به توجه شنیداری نیز رسیده است.', 'وضع مال خانواده تقریباً متوسط می باشد.', 'منزل اجاره ای رهنی می باشد و مبلغ 30میلیون ريال بابت ودیعه مسکن و ماهیانه مبلغ 2میلیون ريال اجاره پرداخت می شود.', 'زمانی که مددجو در منزل نگهداری می شده است،بهداشت روانی آن دچار آسیب شده بود اما با آمدن کودک به مرکز، وضعیت روانی خانواده بهتر شده است.', '', '')﻿,
(69, '69', 'آرش', 'محمدی جهانی', 'داود', '09/06/1384', 'رزن', '4901683152', '4901683152', '414439', 'رزن', '004858', 'عقب مانده ذهنی و جسمی بسیار شدید', 'قبل از تولد', 'م-11', 'شهریار،باغستان،شهرک مطهری،کوچه چهارم غربی،پلاک11', '', '', '3233442-0262', '09193083894', '09192400967', '09124542768', '../upload/thumb69.jpg', '../upload/source69.jpg', 'کودک از نظر رفتاری مشکلی ندارد و از نظر عاطفی به افراد آشنا می خندد.', 'از نظر آموزشی در زمینه کاهش ناامنی جاذبه کودک با وی کار می شود. ', 'در زمینه یادشده کوشش می شود. تا به حال بهتر شده اما هنوز برنامه کامل نشده است. ', 'شرایط اقتصادی خانواده اصلاً مناسب نیست. ', 'پدر در منزل پدری خود و مادر نیز در رزن نزد خانواده خود زندگی می کند. ', 'مادر مددجو همسر دوم پدر مددجو می باشد و قبل از آن یکبار ازدواج نموده و از همسرش جدا شده بود و سپس با مادر مددجو ازدواج نموده که به گفته عموی مددجو مادر آرش دچار اختلالات رفتاری بسیار زیاد بوده و به همین متارکه کرده و اقدام به طلاق نموده اند.  ', '', '')﻿,
(70, '70', 'گلناز', 'مشهدی', 'داود', '19/10/1372', 'تهران', '0016728084', '0016728084', '617872', 'تهران', '041674', 'عقب مانده ذهنی متوسط از نوع سندروم داون', 'قبل از تولد', 'م-12', 'تهران،شهرکچشمه،کوی شبنم،پلاک16', '', '', '44724297-021', '', '09123593059', '09192109518', '../upload/thumb70.jpg', '../upload/source70.jpg', 'مددجو از نظر رفتاری کمی آنژیته می باشد و ممکن است ناخودآگاه بعصی از افراد را کتک بزند.البته کمی لجباز نیز می باشد. ', 'از نظر آموزشی در زمینه مهارت های حرکتی درشت ، ظریف و مهارت های شناختی آموزش دیده است. ', 'در زمینه مهارت های حرکتی خیلی پیشرفت داشته تقریباً این حیطه کامل شده است. در زمینه مهارت های شناختی نیز در زمینه شناخت میوه ها آموزشدیده و به مهارت رسیده است . در زمینه شناخت وسایل نیز به مهارت رسیده است. در زمینه شناخت حیوانات در حال آموزش می باشد که تا به حال تعداد زیادی از حیوانات را نیز آموخته است ولی هنوز در این زمینه به تکامل نرسیده است. ', 'خانواده از وضعیت اقتصادی مناسبی برخوردار می باشند. ', 'منزل والدین شخصی می باشد. ', '', '', '')﻿,
(71, '71', 'بردیا', 'منصوری', 'علی', '10/08/1387', 'ایلام', '6160141661', '6160141661', '687323', 'ایلام', '081298', 'غقب مانده ذهنی از نوع سندروم داون', 'قبل ازتولد', 'م-13', 'ایلام، شهرستان ایوان،خیابان بسیج، کوچه شهید دندان فرد، منزل محمد منصوری', '', '44371-69417', '', '', '09181420798', '', '../upload/thumb71.jpg', '../upload/source71.jpg', 'کودک از نظر رفتاری کم یگریه زیاد دارد. از نظر عاطفی همه افراد و پرسنل مرکز را می شناسد و نسبت به حرف های آن ها عکس العمل مناسب نشان می دهد. ', 'از نظر آموزشی در زمینه کاهش ناامنی جاذبه،مهارت نشستن، و ایستادن و گرفتن مناسب شیشه غذا کار می شود.', 'در زمینه های یاد شده پیشرفت خوبی داشته اما هنوز به تکامل در این زمینه ها نرسیده است. ', '', '', '', '', '')﻿,
(72, '72', 'امیر محمد', 'مدیر فلاح', 'اکبر', '11/01/1383', 'کرج', '4890518398', '4890518398', '613320', 'کرج', '034776', 'عقب مانده ذهنی شدید و جسمی متوسط از نوع میکروسفالی', 'قبل از تولد', 'م-14', 'کرج،نرسیده به هشتگرد،سه راهی سهیلیه،روستای عباس آباد بزرگ، پلاک11', '', '', '4343999-0262', '', '', '', '../upload/thumb72.jpg', '../upload/source72.jpg', 'مددجو علاقه زیادی به خانواده دارد و بسیار گریه می کند به طوری زمانی که صبح از خواب بیدار می شود،شروع به گریه می کند و تا شب گریه می کند. البته علاقه زیادی به بیرون رفتن نیز دارد. ', 'از نظر آموزشی در زمینه مهرت های حرکتی با کودک کار می شود.', 'مددجو مدت کمی است که در مرکز پذیرش شده و در زمینه های یاد شده با وی کار می شود. هنوز پیشرفت خاصی حاصل نشده است. ', 'خانواده از وضعیت اقتصادی متوسطی برخوردار است. ', 'منزل متعلق به پدربزرگ پدری مددجومی باشد و خانواده مددجو با آن ها زندگی می کنند.', 'تولد مددجو تأثیرات نامطلوبی بر خانواده به خصوص مادر داشته و موجبات افسردگی مادر را فراهم کرده که تحت نظر روانپزشکان قرار دارد. ', 'نهداری مددجو دئر منزل تأثیرات نامطلوبی بر خواهر کوچکتر داشته و به همین دلیل به مرکز توانمهر سپرده سده است.', '')﻿,
(73, '73', 'میلاد', 'نعمتی کلکانی', 'عبدالله', '07/06/1377', 'کرج', '0311829848', '0311829848', '408534', 'کرج', '034447', 'عقب مانده ذهنی بسیار شدید و جسمی شدید', 'قبل از تولد', 'ن-3', 'کرج،دولت آباد،خیابان دوم،پلاک81، طبقه دوم، واحد5', '', '64963-31336', '2732031-0261', '', '09371475099', '09365582448', '../upload/thumb73.JPG', '../upload/source73.JPG', 'مددجو از نظر رفتاری در هنگام نهار حتی زمانی که بوی غذا را می فهمد، بسیار گریه می کند و جیغ می کشد تا غذا بخورد و اگر احیاناً دومین و یا سومین نفر باشد که غذا می خورد ، گریه می کن و قهر میکند و غذا را پس می زند.خانواده را نیز کاملاً می شناسد و اگر افراد دیگر ملاقاتی داشته باشند، با دیدن آن ها به یاد مادر خود می افتد و بسیار گریه می کند و جیغ می کشد. ', 'از نظر آموزشی در زمینه اختلال رفتاری در هنگام غذا خوردن با کودک کار شده است. ', 'در زمینه یاد شده کودک الان یاد گرفته که گریه نکند و جیف نکشد، اما این معطوف به زمانی که در کلینک به سر می برد می شود و زمانی که به منزل برده می شود و بعد از چند روز برگردانده می شود ، دوباره به همان حالت اول بر می گردد.', 'خانواده از وضعیت اقتصادی متوسطی برخوردار می باشد. ', ' منزل مسکونی خانواده رهن کامل می باشد و مبلغ 120میلیون ريال بابت ودیعه مسکن پرداخت نموده ند. ', '', '', '')﻿,
(74, '74', 'میلاد ', 'نجفی', 'یحیی', '26/11/1373', 'کرج', '0311201301', '0311201301', '297670', 'کرج', '003408', 'عقب مانده ذهنی چند معلولیتی بسیار شدید همراه با نابینایی', 'قبل از تولد', 'ن-5', 'سرآسیاب ملارد،بلوار رسول اکرم،خیابان اطلس شرقی،بن بست اول،پلاک234', '', '53569-31699', '6463307-0261', '', '', '', '../upload/thumb74.jpg', '../upload/source74.jpg', 'مددجو از نظر رفتاری بسیار نا امنی جاذبه دارد و حرف های نامربوط به هم زیاد می زند که همه آن ها هیچ ربطی به موقعیت و یا هیچ ربطی به هم ندارند. ', 'از نظر آموزشی در زمینه ناامنی مددجو با وی کار می شود. ', 'در زمینه یاد شده بسیار مشکل دارد و علی رغم تلاش های بسیار هنوز پیشرفتی در این زمینه نکرده و به دلیل بزرگتر بودن مددجو وقدرت زیاد وی و عدم همکاری بسیار بالای وی نمی توان خیلی با وی کار کرد. چون همکاری اصلاً در مددجو وجود ندارد. ', 'خانواده از وضعیت اقتصادی خوبی برخوردار نیست و تنها قادر به تأمین حداقل هزینه های می باشد.  ', 'منزل شخصی است. ', 'مادر مددجو بسیار افسرده است و همیشه با برادر بزرگ مددجو به دیدن مددجو می آید. پدر نیز یک چشم خود را بر اثر آب مروارید از دست داده است. ', 'مددجو قبل از پذیرش در توانمهر به مدت یک سال به صورت روزانه به مرکز قدس می رفته است. ', '')﻿,
(75, '75', 'حسن ', 'نیک سیرت', 'عبدالعلی', '03/04/1375', 'رودسر', '2680232593', '2680232593', '229521', 'رودسر', '092862', 'عقب مانده ذهنی بسیار شدید و جسمی شدید', 'در دوران بعد از تولد بر اثر تشنج', 'ن-4', 'شهر ری،خیابان هلال احمر،انتهای کوچه شهید فدایی،مجتمع رز،ورودی 12،واحد11', 'تهران،خیابان جمهوری،اسکندری جنوبی،نبش بوستان، کوچه حاج عباسی، پلاک4،طبقه اول', '75516-44817', '66386553-021', '', '09127945212', '', '../upload/thumb75.JPG', '../upload/source75.JPG', 'از نظر رفتاری مددجومدام پارچه،نخ و یا پتوها را می مکد و آن ها را خیس می کند. از نظر عاطفی نیز به کسی تعلق خاطر ندارد ولی با رفتارهایش می فهماند که پرسنل و خانواده را می شناسد. ', 'در زمینه اختلال رفتاری با کودک کار شده است و در این زمینه دارو درمانی نیز شده است. ', 'در زمینه مورد نظر هیچ گونه پیشرفتی تا کنون حاصل نشده است. ', 'وضعیت اقتصادی خانواده به گونه ای است که می توانند نیازهای خانواده را تأمین کنند. ', 'منزل یک آپارتمان کوچک دو خوابه است کهمتعلق به خانواده می باشد. ', 'بهداشت روانی خانواده دچار اختلال است و بعد از تولد مددجو والدین چندین بار متارکه داشته اند که باز تصمیم بر زندگی با هم گرفتند. ', 'خواهر مددجو دچار افسردگی است و برادرش نیز لکنت زبان دارد. ', '')﻿,
(76, '76', 'آرمیتا', 'ولی پور', 'علیرضا', '10/05/1383', 'تهران', '0025652257', '0025652257', '183696', 'تهران', '051381', 'غقب مانده ذهنی بسیار شدید وجسمی شدید از نوع همی پلژی و ناشنوایی', 'قبل از تولد', 'و-1', 'تهران،خیابان قزوین،نرسیده به میدان فجر،کوچه باقری،پلاک2،واحد2', '', '', '66642797-021', '', '09122755119', '09122230159', '../upload/thumb76.jpg', '../upload/source76.jpg', 'کودک از نظر رفتاری هیچ مشکلی ندارد و از نظر عاطفی نیز بعضی از افراد را می شناسد و با لبخند زدن به آن ها نشان می دهد که آن ها را می شناسد. ', 'در زمینه حرکت درست دست دچار همی پلژی با کودک کار می شود. ', 'در این زمینه برنامه های SI انجام می شود و البته برق نیز گذاشته می شود. ', 'از نظر اقتصادی وضعیت مالی والدین مناسب می باشدو قادر به تأمین هزینه های خود و کودکشان می باشند.', 'منزل والدین شخصی می باشد. ', 'روابط فی مابین والدین چندان مناسب نیست. مادر مددجو شاغل است و به همین نمی تواند از کودک خود مراقبت کند. ', '', '')﻿,
(77, '77', 'پرنیان', 'واعظ اوجور', 'پرویز', '13/05/1386', 'کرج', '0313674086', '0313674086', '615991', 'کرج', '039689', 'عقب مانده ذهنی و جسمی بسیار شدید', 'قبل از تولد', 'و-2', 'کرج، خیابان داریوش،خیابان انقلاب شمالی،کوچه نسترن،ساختمان نسترن،واحد 2', 'کرج، ملک آباد، خیابان شهید قلعه حسن پور، گلستان 5،بن بست دوم، درب دوم دست راست', '46644-18336', '4460875-0261', '', '09364570197', '', '../upload/thumb77.jpg', '../upload/source77.jpg', 'کودک از نظر رفتاری هیچ مشکلی ندارد و از نظر عاطفی نیز هیچ کسی را نمی شناسد و به هیچ فردی عکس العملی حتی در حد برقراری ارتباط چشمی نیز نشان نمی دهد. ', 'با توجه به عوامل ذکر شده در بالا نمی توان آموزشی را برای کودک در نظر گرفت.تنها در زمینه تحریک حس های دیداری و شنیداری کودک می توان اقدام نمود.', 'اقدامات انجام شده با توجه به میزان معلولیت کودک و سن کم وی در حد تحریک حس های شنیداری و دیداری وی می باشد. ', 'وضعیت اقتصادی خانواده خانواده تقریباً مناسب است.', 'منزل رهنی اجاره ای می باشد. 5میلیون ريال بابت ودیعه مسکن و 1میلیون ريال بابت اجاره بها پرداخت می کنند. ', 'پدر مددجو آستانه تحمل بسیار پایینی دارد و به نظر می رسد تا حدودی بدبین باشد.همچنین تا حدودی حالت های پرخاشگرانه و عصبی نیز در وی مشاهده می شود. ', 'والدین مددجو قبل از پذیرش کودک در مرکز توانمهر از همدیگر جدا شده اند. ', 'پدر مددجو هم اکنون ازدواج دوم داشته است. ')﻿,
(78, '78', 'عباس', 'هاشمی نژاد', 'غلامرضا', '16/12/1375', 'تهران', '6660135448', '6660135448', '557008', 'تهران', '040477', 'عقب مانده ذهنی متوسط از نوع سندروم داون', 'قبل از تولد', 'ه-1', 'تهران،خیابان قائم مقام فراهانی،جنب بیمارستان تهران کلینیک، کوچه آزادگان، پلاک22،طبقه دوم', 'کرج،سر آسیاب،کوچه هاشمی نژاد،بن بست سوم،سمت چپ،درب آخر،طبقه 5', '', '3267034-0261-66602744-021', '4283996-0546-091966602744', '09352692072-09128283051', '09124236813-09124476093', '../upload/thumb78.jpg', '../upload/source78.jpg', 'مددجو از نظر رفتاری کمی آزار و اذیت دارد و علاقه زیادی به عصبانی کردن دیگران و مخالفت با آن ها دارد. از نظر عاطفی نیز همه پرسنل را می شناسد و با ایما و اشاره منظور خود را می رساند. ', 'از نظر آموزشی در زمینه مهارت های شناخت جای اجزای پازل و شناخت میوه ها با مددجو کار شده است. ', 'در زمینه مهارت حرکتی شناخت جای هر یک از اجزای پازل پیشرفت کرده و مهارت کامل را کسب نموده است. در زمینه شناخت میوه ها نیز در حال آموزش است.  ', 'وضعیت اقتصادی بحرانی و شدیداً نامطلوب می باشد. ', '', 'مادر مددجو فوت نموده است. پدر نیز ازدواج دوم داشته است. ', 'وضعیت بهداشت روانی خانواده بسیار نامساعد است و فرزندان ( برادران و خواهران)دیگر مددجو در خانه اقوام زندگی می کنند. ', 'اقدامی از طرف خانواده جهت بازتوانی مددجو انجام نشده است و در حال حاضر کسی مسئولیت رسیدگی به مددجو و تأمین نیازهای وی را برعهده ندارد.  ')﻿,
(79, '79', 'امین', 'یاقوتی', 'غلام حسین', '18/01/1383', 'کرج', '0312888708', '0312887808', '299422', 'کرج', '037348', 'عقب مانده ذهنی و جسمی بسیار شدید', 'قبل از تولد', 'ی-2', 'باغستان،بوستان چهارم،قطعه دوم جنوبی،پلاک3،مجتمع افق،واحد4.', '', '34931-31946', '4320113-0261', '', '', '', '../upload/thumb79.jpg', '../upload/source79.jpg', 'کودک از نظر رفتاری هیچ کونه اختلالی ندارد. از نظر عاطفی نیز توانایی برقراری ارتباط با اطرافیان خود حتی والدین، را در حد یک ارتباط چشمی نیز ندارد. ', 'از نظر آموزشی در ایجاد ارتباط چشمی تلاش شده است. ', 'علی رغم تلاش های به خصوص و فراوان در ایجاد تعقیب چشمی در کودک ، وی هیچگونه تغییری ننموده است و پیشرفتی نداشته است. ', 'وضعیت اقتصادی خانواده مناسب می باشد. ', 'منزل شخصی می باشد. ', 'خانواده از بهداشت روانی مطلوبی برخوردار است و به خوبی پذیرای فرزتد خود می باشند و علی رغم این که کودک از جمله کودکانی است که بسیار باید تحت مراقبت های پزشکی قرار گیرد، خانواده همیشه این موضوع را رعایت کرده و به محض احتیاج کودک به مراقبت های فوری پزشکی، خود شخصاً اقدام کرده و کودک را به بیمارستان می برند و از وی در آن جا مراقبت می کنند.  ', '', '')﻿,
(80, '80', 'امیر حسین', 'آزاد', 'حسین', '08/05/1379', 'تهران', '0440884098', '0440884098', '876548', 'تهران', '', 'عقب مانده ذهنی خفیف از نوع سندروم داون', 'قبل از تولد', '1', 'تهران،خیابان طالقانی،نبش بیمه، جنب داروخانه هلال احمر،ساختمان 96،واحد6', 'تهران،شهرک غرب،فاز5،خیابان صدا و سیما، فلامک جنوبی،کوچه رز، پلاک 12، دوم شرقی', '', '8098773-021-22089913-021', '8899110-021-8897364-021', '8001143-021', '09112135492', '../upload/thumb80.jpg', '../upload/source80.jpg', 'از نظر رفتاری مددجو اختلال خاصی ندارد اما به علت این که در محیطی زندگی می کند که اطرافیان آن و همسن و سالهایی که در آن زندگی می کنند،همه و یا بعضی از آن ها دارای اختلالات رفتاری از قبیل مکیدن دست ها ، پرخاشگری،اختلالات خوردن و...هستند، امیر حسین نیز از آن ها یاد می گیرد و از رفتارهای آن ها الگوبرداری می کند. از نظر رفتاری کلیه افراد اعم از پرسنل مرکز،والدین کودکان دیگر حاضر در مرکز، خیرین و حتی همسایه ها را نیز می شناسد و نسبت به همه نیز ابراز علاقه می کند. ', 'از نظر آموزشی نیز حدود 5 سال است که به مدرسه کودکان استثنایی می رود و در کلاس اول تحصیل می کند. البته قبل از آن سه دوره آمادگی ذهنی و یک دوره از دوره های کلاس اول را نیز گذرانده است. ', 'در زمینه مهارت های آموزشگاهی، نوشتن و خواندن ، بازیهای تقویت حافظه و همچنین کاهش احساس ناامنی و افزایش مهارت های درشت با مددجو کار شده است که در زمینه های حرکتی، کاهش احساس ناامنی و مهارت های آموزشی بسیار نیز پیشرفت داشته است. ', 'خانواده از وضعیت اقتصادی مناسبی برخوردار می باشد. ', 'خانواده حاضر به همکاری نبودند و به همین دلیل بازدید منزل صورت نگرفته است. در ضمن آدرس والدین نیز تغییر کرده و خانواده آدرس جدید را در اختیار مرکز نگذاشته اند. ', 'مددجو از زمانی که کودکی11 ماهه بوده به این مرکز سپرده شده و تا کنون که کودکی 11 ساله می باشد،هیچ یک از افراد خانواده به ملاقات وی نیامده و حتی یک بار نیز تماس نگرفته اند و تلفنی نیز با وی سخن نگفته اند. تنها دایی مددجو در مورد کارهای وی پیگیر است و سالیانه 2 بار به دیدن کودک می آید.', 'کودک از زمان به دنیا آمدن و اطلاع خانواده از معلولیت وی به دایی سپرده شده و دایی وی او را به مرکز توانمهر سپرده است. ', 'مادر پذیرای کودک خود به هیچ عنوان نیست. ')﻿,
(81, '81', 'فرزانه ', 'اکبری', 'حسن', '19/04/1365', 'تهران', '0082161607', '26710', '263135', 'تهران', '-', 'عقب مانده ذهنی شدید از نوع  کرتینیزم نوع شدید', 'قبل از تولد', '3', 'تهران،میدان قیام،بلوار قیام،کوچه حمام حوری،پلاک16،طبقه چهارم', 'تهران،چهار راه مصطفی خمینی،روبروی هنرستان راهیان قدس،پلاک252.فروشگاه لولزم گاز فروشی حسن اکبری.', '', '55603303-021', '33551940-021', '09121185765', '', '../upload/thumb81.JPG', '../upload/source81.JPG', 'کودک از نظر رفتاری مشکلی ندارد و تنها گاهی اوقات آرام صدایی از خود بیرون می دهدو در مقابل کسی که در روبروی او ایستاده لپ فرد مورد نظر را می کشد.از نظر عاطفی نیز به هیچ فردی دلبستگی ندارد. ', 'از نظر آموزشی در زمینه مهارت های حرکتی درشت و ظریف با کودک کار شده است. ', 'در زمینه مهارت های حرکتی درشت مددجو پیشرفت داشته و بالا و پایین رفتن از پله برای او بسیار بهتر شده است. در زمینه مهارت های ظریف حرکتی به علت وابستگی زیاد او به گرفتن عروسک کوچکی در دست،خیلی پیشرفت نداشته است. ', 'وضعیت اقتصادی و اجتماعی خانواده مناسب می باشد.', '', '', '', '')﻿,
(82, '82', 'علیرضا', 'اکبری', 'مرتضی', '02/01/1361', 'قزوین', '432353611', '118', '330221', 'قزوین', '-', 'عقب مانده ذهنی بسیار شدید و جسمی خفیف از نوع سندروم داون', 'قبل از تولد', '2', 'تهران،ولنجک،خیابان 22،ساختمان کیمیا،واحد41،شماره237.', '', '', '22419061-021', '', '09123876474', '', '../upload/thumb82.jpg', '../upload/source82.jpg', 'مددجو از نظر رفتاری، مدام دست هایش را داخل شلوارش می کند و استمنا دارد. از نظر عاطفی نیز هیچ فردی را نمی شناسد و به هیچ فردی علاقه نشان نمی دهد و عکس العمل خاصی ندارد. ', 'با توجه به میزان بسیار کم بهره هوشی مددجو، امکان آموزش برای وی امکان پذیر نیست. اما در زمینه کنترل اسفنکتری آموزش دیده که می تواند در این زمینه خود را کنترل کند. در زمینه مهارت تغذیه مستقل نیز آموزش دیده که می تواند اکنون خود به تنهایی غذا بخورد. ', 'در زمینه مهارت های حرکتی ظریف با مددجو کار شده است که تابه حال هیچ پیشرفتی نداشته است.در زمینه برنامه های si با مددجو کار می شود. ', 'خانواده از وضعیت اقتصادی مناسبی برخوردار هستند.', '', '', '', '')﻿,
(83, '83', 'ستوده ', 'ناصری', 'مجید', '30/11/1363', 'تهران', '0063884501', '35532', '840443', 'تهران', '-', 'عقب مانده ذهنی بسیار شدید ', 'قبل از تولد', '7', 'تهران،خیابان،آیت الله کاشانی،کوی کیهان،خیابان هشتم،پلاک1', 'تهران، انتهای یادگار امام،بعد از فرحزاد،خیابان ایثارگران،شهرک کیهان، نیلوفر دوم غربی،پلاک 12،واحد2.', '33993-19818', '22072147-021', '', '09121872080', '', '../upload/thumb83.jpg', '../upload/source83.jpg', 'مددجواز نظر رفتاری مشکلی ندارد، ولی تنها هنگام حرکت کردن بسیار شل می باشد که این از ضعف بدنی بالای وی نمی باشد،زیرا هنگامی که مادر به ملاقات وی می آید و با توجه به این که وی مادر را می شناسد،با مادر خوب راه می رود و اثری آن شلی و بی حالی بسیار بالا نیست. ', 'از نظر آموزشی جزو کودکان عقب مانه حمایت پذیر می باشد و قادر به آموزش نیست . البته عدم همکاری نیز در کودک بسیار بالا است.', 'در زمینه تغذیه مستقل مددجو مدتی تلاش شد که البته وی به این مهارت نیز رسید اما بعد از مدتی پسرفت کرده و با توجه به تغییر برنامه غذایی وی ، دیگر امکان انجام این مهارت در وی وجود نداشت. در زمینه مهارت های حرکتی درشت نیز با مددجو کار شده که با توجه به عدم همکاری بسیار بالای وی به میزان بسیار زیادی پیشرفت ننموده است. ', 'خانواده از وضعیت اقتصادی خوبی برخوردار است. ', 'منزل شخصی است و شامل یک آپارتمان3 خوابه با مساحت100 متر مربع می باشد. ', 'خانواده از شرایط بهداشت روانی مناسبی برخوردار می باشند. مدام به ملاقات مددجو می آیند اما در مورد ترخیص موقت مددجو پذیرای وی در منزل نمی باشند. ', '', '')﻿,
(84, '84', 'مرضیه', 'نعیمی دره مرادی', 'حسن', '25/02/1367', 'تهران', '0083086889', '4207', '154633', 'تهران', '-', 'عقب مانده ذهنی شدید', 'قبل از تولد', '8', '', '', '', '', '', '', '', '../upload/thumb84.jpg', '../upload/source84.jpg', 'مددجو از نظر رفتاری به اختلال pika مبتلا می باشد و در این زمینه بیشتر مدفوع خود را دستکاری می کند و به اطراف می مالد و یا می خورد. توانایی فهم فرامین و دستورات پرسنل را دارد و از نظر عاطفی نیز به اطرافیان علاقه دارد و نسبت به آن ها عکس العمل خندیدن نشان می دهد. ', 'با توجه به میزان بهره هوشی بسیار پایین مددجو و عدم تکلمویو با توجه به ارزیابی های به عمل آمده از وی، فعلاً در زمینه مهارت های درشت و ظریف دست و پا با وی کار می شود', 'قبل از پذیرش در مرکز توانمهر،مددجو هیچ آموزشی ندیده است. در حال حاضر در مهارت های ظریف انگشتان پیشرفت داشته و تواناای به دست گرفتن قاشق را دارد. ', 'خانواده از وضعیت اقتصادی مناسبی برخوردار است و قادر به تأمین نیازهای خود می باشد. ', '', '', '', '')﻿,
(85, '85', 'شراره', 'گل چین', 'علی اکبر', '19/03/1368', 'تهران', '0480179344', '0480179344', '290678', 'تهران', '-', 'عقب ماده ذهنی و جسمی شدید', 'قبل از تولد', '9', 'تهران،زعفرانیه،کوچه سنگر،پلاک17،طبقه چهارم غربی.', '', '', '88096074-021', '22425531-021', '09123303494', '', '../upload/thumb85.jpg', '../upload/source85.jpg', 'کودک از نظر رفتاری مشکلی ندارد و از نظر عاطفی نیز پرسنل را می شناسد و نسبت به آن ها خندیدن عکس العمل نشان می دهد و به صورتی است که ابراز می دارد که افراد را می شناسد. ', 'از نظر آموزشی در زمینه مهارت های شناختی شناخت اشیاء آموزش می بیند.', 'در زمینه یاد شده تا به حال اشیایی مانند مسواک،توپ و عروسک را میشناسد و با نگاه کردن و نوع خندیدن آن ها را از اشیایی که تا به نیاموخته است تمیز می دهد.', 'خانواده از وضعیت اقتصادی مناسبی برخوردار می باشد. ', '', 'والدین به علت نگرانی از معلول به دنیا آمدن کودکان بعدی از هم جدا شده اند و هر دو ازدواج دوم داشته اند. ', 'وضعیت بهداشت روانی خانواده تقریباً مناسب است. ', 'عموی مددجو مسئولیت رسیدگی به کلیه امور مربوط به وی را بر عهده گرفته و خانواده حتی شهریه مددجو را نیز به عموی وی می دهند تا وی به حساب مرکز واریز نماید. ')﻿,
(86, '86', 'معصومه', 'باقری', 'حجت', '08/04/1382', 'ساوجبلاغ،روستای نظرآباد', '4890517863', '4890517863', '612263', 'ساوجبلاغ', '-', 'عقب مانده ذهنی بسیار شدید از نوع فنیل کتونوری', 'قبل از تولد به صورت ژنتیکی', '12', 'نظر آباد،رسالت،بهارستان،جنب پلاک83', '', '43456-33341', '5350346-0262', '', '09192712014', '', '../upload/thumb86.jpg', '../upload/source86.jpg', 'کودک از نظر رفتاری بسیار گریه می کند و علی الخصوص در هنگام غذا خوردن اگر تازه از خواب بیدار شده باشد و یا کسی وی را بیدار کرده باشد، بسیار گریه می کند و جیغ میکشد و از خوردن امتناع می ورزد.از نظر عاطی والدین را می شناسد و نسبت به محیطی که دوست داشته باشد نیز عکس العمل مناسب از خود نشان می دهد.  ', 'در زمینه ها یآموزشی، تا کنون تحت هیچ گونه آموزشی نبوده است. ', 'در زمینه مهارت های ظریف آموزش می بیند که در زمینه چیدن استوانه ها مهارت یافته و در زمینه مهارت های چیدن پازل ها،مهره ها و مکعب ها آموزش می بیند. ', 'وضعیت اقتصادی خانواده اصلا مناسب نیست و شهریه کودک توسط یک مرکز خیریه پرداخت می شود. ', 'منزل مسکونی رهنی اجاره ای می باشد و مبلغ10 میلیون ريال بابت ودیعه مسکن و مبلغ 1250000 هزار ريال بابت اجاره بها به صورت ماهیانه توسط خانواده پرداخت می شود.', 'خانواده ترک زبان بوده و کودک به زبان فارسی آشنایی ندارد و همین امر در آموزش وی نیز تأثیر نامطلوب گذاشته است. ', 'بهداشت روانی خانواده بسیار پایین می باشد و البته برادر مددجو نیز از ناحیه یک چشم نابینا می باشد. ', '')﻿,
(87, '87', 'محمد رضا ', 'اناری', 'عبدالله', '08/07/1367', 'تهران', '0018947409', '0018947409', '', 'تهران', '-', 'عقب مانده ذهنی و ذهنی بسیار شدید از نوع فلج مغزی همی پلژی', 'قبل از تولد', '4', 'تهران،میدان رسالت،خیابان هنگام،اتوبان استقلال،شهرک گلستان،کوچه ارکیده غربی؛پلاک222', '', '', '77381625-021', '', '09121390223', '', '../upload/thumb87.jpg', '../upload/source87.jpg', 'مددجو از نظر رفتاری مشکلی ندارد و تنها هنگامی که بسیار عصبانی می شود و خواسته ای دارد که برآورده نمی شود، دست خود را گاز می گیرد. از نظر عاطفی نیز افراد مرکز را به قیافه می شناسد و در مقابل آن ها می خندد.', 'از نظر آموزشی در زمینه دست دچار همی با وی کار می شود و در زمینه مهارت های ظریف تلاش می شود. در زمینه به دست گرفتن مناسب لیوان نیز تلاش شده است. ', 'در زمینه مهارت های ظریف مددجو در حال حاضر قادر به چیدن استوانه و مهره ها می باشد و در حال آموزش چیدن اجزاء پازل ها می باشد. در زمینه لیوان به دست گرفتن نیز هم اکنون قادر به انجام این کار می باشد و در این زمینه پیشرفت داشته است. ', 'خانواده از نظر اقتصادی شرایط مطلوبی دارند. ', '', '', '', '')﻿,
(88, '88', 'سید امیر ارسلان ', 'سازمند', 'سید حسن', '22/05/1379', 'مشهد', '0925351261', '0925351261', '302527', 'مشهد', '-', 'عقب مانده ذهنی بسیار شدید و جسمی شدید', 'قبل از تولد', '5', 'کرج،بلوار ارم،کوچه پاک،مجتمع ساحل،پلاک24', '', '38664-14876', '3325089-0261', '', '09371971479', '09123839750', '../upload/thumb88.jpg', '../upload/source88.jpg', 'مددجو از نظر رفتاری مشکلی ندارد ولی از نظر عاطفی با رفتارهای خود نشان می دهد که تا حد کمی اطرافیانش را می شناسد که البته والدین چون زیاد به ملاقات کودک نمی آیند،آن ها نمی شناسد. ', 'از نظر آموزشی در زمینه مهرت های توجه و تمرکز و ارتباط چشمی و تعقیب دیداری با وی کار شده است . در زمینه کار درمانی دستش نیز با وی کار شده است . ', 'در زمینه مهارت های دیداری به همه انواع این مهارت ها در این حوزه دست یافته است . ', 'خانواده از نظر وضعیت اقتصادی بسیار مناسب می باشد. ', 'منزل شخصی است.', 'تولد مددجو اختلالی در روابط خانوادگی به وجود نیاورده است و روابط بین والدین بسیار خوب می باشد. ', 'مادر و پدر نسبت فامیلی دوری دارند. ', '')﻿,
(89, '89', 'سالار', 'شیرزادی مهابادی', 'اسماعیل', '08/01/1370', 'تهران', '00440162793', '00440162793', '629462', 'تهران', '-', 'عقب مانده ذهنی و جسمی شدید', 'قبل از تولد', '6', 'تهران،خیابان دولت،کوچه دوم،نبش سنبل، پلاک 4،طبقه اول غربی،', 'تهران،خیابان شهید کلاهدوز(دولت غربی) چهار راه قضات، کوچه ارم، نبش سنبل ، پلاک5.', '54813-19517', '22550754-021', '', '09125235676', '09121197397', '../upload/thumb89.jpg', '../upload/source89.jpg', 'مددجو از نظر رفتاری مشکلی ندارد و تنها به غذا بسیار علاقه مند است و هر جایی که غذایی می بیند فوراً به غذا حمله برده و آن را سریع می خورد. ', 'از نظر آموزشی در زمینه مهارت های حرکتی ظریف و درشت آموزش می بیند که در مهارت های درشت امتناع می ورزید و همکاری نمی کند. اما در مهارت های ظریف همکاری دارد.', 'در زمینه مهارت های درشت همان طور که در بالا ذکر شده است در بالا و پایین رفتن از پله و ایجاد حس تعادل بسیار امتناع می کند و با توجه به بلند قد بودن و قدرت بالای بدنی وی نمی توان کاری در این زمینه انجام داد. در زمینه مهارت های حرکتی ظریف نیز تاحد بسیار کمی پیشرفت داشته است. در زمینه مهارت تغذیه مستقل نیز برنامه هایی به مددجو و اطرافیان داده شد و در حال حاضر وی قادر است که خود به صورت مستقل غذا بخورد و تنها زمانی که غذا کمی خشک تر باشد و احتمال خفگی مددجو بر اثر سریع غذا خوردن باشد، خود مادریار به مددجو غذا می دهد. ', 'وضعیت اقتصادی و اجتماعی خانواده بسیار مناسب است و اطلاعات آن ها نیز از وضعیت و چگونگی معلولیت کودک خود بسیار در خور توجه می باشد. ', 'منزل به صورت بلاعوض می باشد و توسط پدربزرگ پدری مددجو در اختیار خانواده قرار گرفته است. ', 'مادر مددجو نوه عمه پدر مددجو می باشد. ', 'مددجو قبل از پذیرش در مرکز توانمهر مدتی را به صورت روزانه در مرکز نمونه نگهداری می شده است. ', '')﻿;
﻿INSERT INTO `patient` (`patientId`, `patientCode`, `name`, `family`, `father`, `birthday`, `birthplace`, `melliCode`, `shenasNo`, `shenasSerial`, `shenasSodur`, `disabilityCode`, `disabilityType`, `disabilityStartDate`, `caseNumber`, `homeAdress1`, `homeAdress2`, `postalCode`, `tel1`, `tel2`, `mobile1`, `mobile2`, `photo1`, `photoSource`, `behavioralStatus`, `educationalStatus`, `actionsTaken`, `economicSituation`, `statusOfHomeVisits`, `comments1`, `comments2`, `comments3`) VALUES
(90, '90', 'زهرا ', 'غفاریان سرکندی', 'قربانعلی', '23/04/1380', 'تهران', '0024304565', '0024304565', '976652', 'تهران', '-', 'عقب مانده ذهنی شدید از نوع آنسفالوپاتی با منشاء ناشناخته', 'قبل از تولد', '10', 'تهران،مهرآباد جنوبی،20متری شمشیری ،8متری طالقانی،روبروی مخابرات ابوذر،پلاک2، طبقه دوم', '', '84611-13818', '66618889-021', '', '09125146122', '09395146122', '../upload/thumb90.jpg', '../upload/source90.jpg', 'مددجو از نظر رفتاری بسیار بیش فعال می باشد و علاقه شدیدی به به هم ریختن و خراب کردن دارد.از نظر عاطفی نیز خانواده را کاملاً می شناسد و اطرافیان خود را نیز به خوبی می شناسد. ', 'در زمینه مهارت های حرکتی ظریف آموزش دیده است. ', 'در زمینه یاد شده به پیشرفت هایی رسیده است اما هنوز کامل نشده و در زمینه نخ کردن مهره ها آموزش می بیند. ', 'از نظر اقتصادی وضعیت خانواده چندان مناسب نیست و شهریه مددجو بر عهده عمه مددجو می باشد. ', '', 'مددجو به مدت 4 سال در مرکز روزانه آبان آموزش دیده است. ', 'در زمان ورود کودک به مرکز پدر مددجو در کمپ ترک اعتیاد و مادرش در منزل والدین خود زندگی می نموده است. ', 'والدین با هم مشکل دارند و تولد مددجو در خانواده تأثیرات نامطلوبی بر خواهر کوچکترش داشته به صورتی خواهر کوچکتر از وی الگو برداری می کرده است. ')﻿;
